/* line 1, ../scss/_main.scss */
*, *:after {
  border-radius: 0 !important;
  box-shadow: 0 0 0 0 !important;
}

/* line 6, ../scss/_main.scss */
body {
  font-size: 14px !important;
}

/* line 10, ../scss/_main.scss */
#portal-header {
  border-bottom: 0 !important;
}
/* line 12, ../scss/_main.scss */
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
  border-radius: 0 !important;
}
/* line 15, ../scss/_main.scss */
#portal-header .titol-espai h1 {
  margin-bottom: 5px;
}

/* line 21, ../scss/_main.scss */
.container {
  max-width: 1170px !important;
  width: 98% !important;
}

/* line 27, ../scss/_main.scss */
.pad {
  padding: 9px 0 !important;
}

/* line 31, ../scss/_main.scss */
ul.unstyled {
  padding-left: 0 !important;
}
/* line 33, ../scss/_main.scss */
ul.unstyled li.multidate {
  margin-left: 0 !important;
}

/* line 39, ../scss/_main.scss */
.header-image {
  background-size: cover;
}

/* line 44, ../scss/_main.scss */
.large-icon {
  margin-right: 0px !important;
}

/* line 49, ../scss/_main.scss */
.accordion-group {
  border-radius: 0 !important;
}

/* line 54, ../scss/_main.scss */
.carousel img {
  width: 1170px;
}

/* line 58, ../scss/_main.scss */
.carousel-inner {
  border-width: 0px !important;
}

/* line 62, ../scss/_main.scss */
.carousel-control {
  border-width: 0px !important;
  margin-top: 0 !important;
  top: calc(50% - 20px) !important;
}

/* line 68, ../scss/_main.scss */
.titol-sigles {
  font-size: 45px;
  padding-right: 10px !important;
}

/* line 77, ../scss/_main.scss */
.titol-sigles + .titol-descripcio {
  position: relative;
  bottom: -6px;
}

/* line 82, ../scss/_main.scss */
.llistatLogos a {
  margin: 0 0.5em !important;
}

/* line 88, ../scss/_main.scss */
.img-rounded {
  -webkit-border-radius: 6px !important;
  -moz-border-radius: 6px !important;
  border-radius: 6px !important;
}

/* line 92, ../scss/_main.scss */
.img-circle {
  -webkit-border-radius: 500px !important;
  -moz-border-radius: 500px !important;
  border-radius: 500px !important;
}

/* line 98, ../scss/_main.scss */
.full-width-container {
  text-align: center;
  width: 100vw;
  margin-left: calc(-1 * ((100vw - 100%) / 2));
}

/* line 104, ../scss/_main.scss */
table.mceToolbar {
  overflow-x: auto !important;
}

/* line 110, ../scss/_main.scss */
div.photoAlbumEntry {
  padding: 4px 3px !important;
}

/* line 3, ../scss/_nav.scss */
#portal-globalnav .navbar .nav > li, #portal-globalnav .navbar .contentViews > li, #portal-globalnav .navbar .configlets > li, #portal-globalnav .navbar .formTabs > li {
  background-color: #fff !important;
}
/* line 5, ../scss/_nav.scss */
#portal-globalnav .navbar .nav > li > a, #portal-globalnav .navbar .contentViews > li > a, #portal-globalnav .navbar .configlets > li > a, #portal-globalnav .navbar .formTabs > li > a {
  font-size: 18px !important;
}
/* line 9, ../scss/_nav.scss */
#portal-globalnav .navbar .nav > li > a {
  border-right: 0 !important;
}
/* line 14, ../scss/_nav.scss */
#portal-globalnav .navbar-inner {
  background-color: #fff !important;
  background-image: none !important;
  border: 0 !important;
}
/* line 19, ../scss/_nav.scss */
#portal-globalnav .navbar-inner #menu-1 *:hover {
  background-color: #fff !important;
}

/* line 29, ../scss/_nav.scss */
.subnavbar .nav-list a {
  background-color: #fff !important;
  background-image: none !important;
  border-top: 0 !important;
}
/* line 34, ../scss/_nav.scss */
.subnavbar .nav-list .active ul a, .subnavbar .nav-list .selected ul a {
  border-right: 0px !important;
}
/* line 36, ../scss/_nav.scss */
.subnavbar .nav-list .active ul a.active, .subnavbar .nav-list .selected ul a.active {
  background-color: #fff !important;
}

/* line 44, ../scss/_nav.scss */
#portlet-navigation-tree {
  border-width: 0px 0 1px 0;
}

/* line 3, ../scss/_portlets.scss */
.portlet {
  border: 0 !important;
}
/* line 5, ../scss/_portlets.scss */
.portlet h2 {
  font-size: 130% !important;
  padding: 10px 0 !important;
}

/* line 11, ../scss/_portlets.scss */
.portlet-footer {
  background-color: #fff !important;
  text-align: left !important;
  padding-left: 0px !important;
}
/* line 15, ../scss/_portlets.scss */
.portlet-footer i, .portlet-footer span {
  margin-left: -1px;
  margin-right: 5px;
  position: inherit !important;
}

/* line 23, ../scss/_portlets.scss */
.portlet-ampliat .content-noticies {
  padding: 0 !important;
}
/* line 27, ../scss/_portlets.scss */
.portlet-ampliat h3 {
  padding: 0 !important;
}
/* line 31, ../scss/_portlets.scss */
.portlet-ampliat li > img {
  margin-left: 0px !important;
}

/* line 36, ../scss/_portlets.scss */
.list-portlet {
  padding: 0 !important;
}

/* line 40, ../scss/_portlets.scss */
.portlet-esdeveniments ul li {
  margin: 0;
}

/* line 45, ../scss/_portlets.scss */
.noticies-full-2cols .noticies-full {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

/* line 52, ../scss/_portlets.scss */
.portlet-esdeveniments ul a {
  border-left-width: 0px !important;
}
/* line 55, ../scss/_portlets.scss */
.portlet-esdeveniments ul time {
  left: 0 !important;
}

/* line 62, ../scss/_portlets.scss */
.portlet #loginform label {
  font-size: 14px;
}
/* line 65, ../scss/_portlets.scss */
.portlet #loginform input {
  margin-top: 5px;
}

/* line 70, ../scss/_portlets.scss */
.portlet-grid-events .list-agenda {
  padding: 0px;
}

@media only screen and (max-width: 768px) {
  /* line 1, ../scss/mobile/_main.scss */
  .titol-sigles + .titol-descripcio {
    display: none;
  }
}
@media only screen and (min-width: 769px) {
  /* line 34, ../scss/desktop/_nav.scss */
  #menu-1 ul {
    border-top: 0;
    border-bottom: 3px solid;
    display: flex !important;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
  }
  /* line 40, ../scss/desktop/_nav.scss */
  #menu-1 ul li {
    border-bottom: 3px solid;
    margin-bottom: -3px;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(6), #menu-1 ul li:first-child:nth-last-child(6) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(6) a, #menu-1 ul li:first-child:nth-last-child(6) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(7), #menu-1 ul li:first-child:nth-last-child(7) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(7) a, #menu-1 ul li:first-child:nth-last-child(7) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(8), #menu-1 ul li:first-child:nth-last-child(8) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(8) a, #menu-1 ul li:first-child:nth-last-child(8) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(9), #menu-1 ul li:first-child:nth-last-child(9) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(9) a, #menu-1 ul li:first-child:nth-last-child(9) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(10), #menu-1 ul li:first-child:nth-last-child(10) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(10) a, #menu-1 ul li:first-child:nth-last-child(10) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(11), #menu-1 ul li:first-child:nth-last-child(11) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(11) a, #menu-1 ul li:first-child:nth-last-child(11) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 4, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(12), #menu-1 ul li:first-child:nth-last-child(12) ~ li {
    flex-grow: 1;
    text-align: center;
  }
  /* line 8, ../scss/desktop/_nav.scss */
  #menu-1 ul li:first-child:nth-last-child(12) a, #menu-1 ul li:first-child:nth-last-child(12) ~ li a {
    padding-left: 2% !important;
    padding-right: 2% !important;
  }
  /* line 44, ../scss/desktop/_nav.scss */
  #menu-1 ul li a {
    border-bottom-width: 3px !important;
    margin-bottom: -3px;
  }

  /* line 51, ../scss/desktop/_nav.scss */
  #portal-header.no-image + #portal-globalnav #menu-1 ul {
    border-top: 3px solid;
  }
}
