.template-listing_view #content dl dt:before {
    content: ".";
    position: absolute;
    font-size: 52px;
    margin-left: -20px;
    margin-top: -37px;
}

.existing_content_portlet ul li {
    list-style: none;
}
