/* Rasgos UPC */
* {
    text-shadow: none !important;
}
body.mceContentBody,
body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px !important;
    font-weight: 300;
    line-height: 1.45 !important;
    color: #636363;
    background-color: #fff;
}
div,
p {
    font-weight: 300;
}
.lead {
    color: #7F7F7F;
}
h1 {
    font-weight: 500;
}
#content-core #parent-fieldname-text h2, body.mceContentBody h2,
.h2, h2{
    line-height: initial;
    font-size: 24px;
    font-weight: 300;
}
.h3, h3 {
    color: #636363!important;
    font-weight: 300;
    font-size: 21px;
    line-height: initial;
}
.h4, h4 {
    font-size: 18px;
    line-height: initial;
    font-weight: 300;
}
img {
    max-width: 100%;
}
html {
    background-color: #f6f7f7;
}
a {
    color: #007BC1;
    text-decoration: none;
}
input[type="submit"] {
    width: auto;
}
li {
    line-height: 25px;
}

/* Rasgos generales */
.navbar {
    border-bottom: 1px solid #CCC !important;
    a.state-published span {
        padding-right: 20px !important;
        display: inherit;
    }
}

#portal-globalnav {
    border-bottom: 1px solid #ccc !important;

    .navbar,
    .navbar .nav > li > a,
    #menu-1 ul li,
    #menu-1 ul {
        border-bottom: 0px !important;
        text-align: center;
        overflow-wrap: normal;
    }
    #menu-1 ul li {
        background-color: transparent !important;
    }
    ul.nav-tabs li a {
        border-left: 0px !important;
        border-top: 0px !important;
        border-right: 0px !important;
        background: none !important;
    }
    ul.nav-tabs li.active {
        border-bottom: 2px solid #007ac1 !important;
    }
    #menu-1 ul li {
        background-color: transparent !important;
    }
    .navbar-inner #menu-1 *:hover {
        background-color: transparent !important;
    }
}
#menu-1 .plain a,
#menu-1 .active a {
    line-height: 18px;
}
li.active a {
    font-weight: 600;
}
.portlet h2 {
    margin: 0;
    color: #666;
    position: relative;
    font-family: "Roboto", Arial, sans-serif;
    font-weight: 300 !important;
    padding: 10px 0 !important;
    padding-bottom: 5px !important;
    border-bottom: 1px solid #b2b2b2 !important;
    overflow: hidden;
    font-size: 24px !important;
    line-height: 22px !important;
}
li#contentview-view a {
    border: 0px;
    background-color: white;
    background-image: none;
}
.span3 .noborder .field select {
    max-width: 245px;
}
body.template-homepage {
    nav#portal-breadcrumbs {
        display: block;
        padding: 0px;
        background-color: white;
        margin: 0px;
    }
    #content-area {
        margin-top: 0px;
    }
}
.formTabs > li > a:hover,
.nav > li > a:hover {
    text-decoration: none;
    color: #007ac1;
}
#content-core .well ul {
    margin: 10px 5px 15px 5px;
}
.document-heading {
    margin: 0px 0 36px 0;
}
h1.documentFirstHeading {
    font-size: 1.8rem;
    color: #636363;
    background: 0 0;
    margin: 0px 0 12px 0;
    padding: 0px;
    font-weight: 500;
    border-bottom: 0px;
    box-shadow: none;
}
h2.row-fluid,
h2.liniaDalt {
    color: #636363;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    margin-top: 0;
}
.documentDescription {
    font-size: 107.692308%;
    font-weight: 400;
    color: #616161;
    margin-bottom: 18px;
}
ul.investigadors.pull-left li {
    margin-bottom: 10px;
}
.contentViews .nav-list > .selected:hover > a,
.formTabs > li > a.selected,
.formTabs > li > a.selected:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .selected > a,
.nav-list > .selected > a:hover {
    color: #636363;
    background-color: #ffffff;
    border-radius: 0px !important;
    text-shadow: none!important;
    font-size: 14px;
    border-bottom: 2px solid #007bc0;
}
.nav-tabs > li > a,
.contentViews > li > a,
.nav-pills > li > a,
.formTabs > li > a {
    margin-right: 4px !important;
    line-height: normal;
    border: 0px !important;
}
.nav-tabs  > li > a:hover,
.nav-tabs > li.active > a {
    background: transparent !important;
}
.nav-tabs  > li > a:hover {
    font-weight: 600;
}
.selected.required:after {
    color: #a62e1f;
}
#folder-index-view h3 {
    margin-bottom: 20px !important;
}
.event_listing section article.vevent:first-child {
    border-top: 0px !important;
    padding-top: 0px;
}
.anyipsum-form-header {
    font-size: 1.125rem;
    color: #7F7F7F;
}
body.template-news_listing ul.list-portlet img.image-noticies {
    max-width: 25%!important;
}
dd.margin0 {
    padding-top: 0px !important;
}
div#content div#content-core {
    width: 100%;
}
.portalMessage.info strong:after,
.alert strong:after {
    content: ":";
}
.alert,
.alert strong {
    padding: 0px;
}
a.state-visible.contenttype-document:after,
a.state-visible.navTreeFolderish.contenttype-folder:after {
    background-color: transparent !important;
}
a.state-intranet.navTreeFolderish.contenttype-folder:hover {
    color: #8952ab;
}
#portal-globalnav {
    #menu-1 ul li {
        border-bottom: 0!important;
        background-color: white;
        border: 0px !important;
    }
    .navbar-inner {
        background-image: none;
        border: 0px !important;
    }
}
/* IMG del header, icono */
.logoPropi {
    display: table-cell;
    vertical-align: middle;
    min-width: 49px;
    padding: 5px 0;
}
body.portaltype-packet .tab-content .hide_mobile a .hide_pdf img {
    width: 100%;
}
th#foldercontents-order-column {
    width: 100px;
}
a.link-parent {
    background-color: #007bc0;
    color: white;
}
.link-parent:before {
    filter: brightness(1);
}
dl.multipleSelectionWidget,
#content dl.multipleSelectionWidget {
    margin: 0;
    display: block;
    width: 175px;
    float: left;
    margin-right: 0.5em;
    border: 1px solid #b2b2b2;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px!important;
    margin-top: 6px;
}
form.form-vertical .form-contingut {
    padding: 10px;
}
/* Cabezal */
header#portal-header {
    .container {
        border-top: 0px;
        max-width: 100% !important;
        width: 100% !important;
    }
    .clearfix {
        margin: 0 auto;
        max-width: 1170px;
        padding: 10px 20px;
    }
}
/* Breadcrum  */
div#viewlet-above-content {
    display: none;
}
nav#portal-breadcrumbs {
    background-color: #F2F5F6;
    padding: 5px;
    .container {
        width: 1170px;
        padding: 15px;
    }
    ol.breadcrumb li a {
        font-weight: 300;
        line-height: 1.25;
        color: #636363;
    }
    li.active a {
        color: #007BC1;
    }
    .breadcrumb .active {
        font-weight: 300;
    }
}
/* Menú superior secundario*/
nav#portal-globalnav {
    background-color: #ffffff;
    max-width: 100%!important;
    .container {
        margin: auto;
    }
    #portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
        margin: auto;
    }
}
/* Títulos de Portlet */
.large-icon.icon-news,
.large-icon.icon-news-item {
    font-size: 1rem;
    top: .4rem;
    position: absolute;
    right: 0;
    z-index: 1;
    background-position: -37px -252px;
}
.titling-line-container {
    .titling-line {
        &::after {
            display: none;
        }
    }
}
/*  Noticias*/
.portletWrapper {
    .portlet {
        > .pad {
            border-bottom: 0px;
            h2 {
                width: 100%;
                border-bottom: 0px;
                &::after {
                    content: "";
                    position: absolute;
                    margin-left: 12px;
                    margin-right: 12px;
                    background: #d1d1d1;
                    height: 1px;
                    box-shadow: 1000px 0 0 -1000px #d1d1d1;
                    top: 50%;
                }
            }
        }
    }
    .noticies-full + h3 {
        font-size: 1.125rem;
        color: #007bc0 !important;
        font-weight: 300;
        margin-top: 15px;
    }
    .content-noticies {
        p {
            margin: 10px;
            font-weight: 300;
            font-size: .8125rem;
            color: #636363;
        }
        hr {
            border-top: 0px solid #b2b2b2;
            border-bottom: 0px solid #fff;
        }
    }
    .noticia-full-2cols {
        margin-bottom: 20px;
        .noticies-full {
            padding: 0px;
        }
        &:hover {
            transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        }
        &:active {
            transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        }
    }
}
/* Header */
#portal-header {
    border-top: 0px !Important;
    h1.pull-left {
        img {
            height: 100%;
        }
    }
    .clearfix {
        margin: 0 auto;
        max-width: 1140px;
        padding: 20px;
    }
}
#portal-globalnav {
    #portal-header.no-image + #portal-globalnav #menu-1 ul {
        border-top: 0px;
    }
    .container {
        max-width: 1170px !important;
    }
    .state-visible {
        border-bottom: 3px solid #004a74;
    }
    #menu-1 ul li {
        border-bottom: 3px solid #007bc0;
    }
}
nav#portal-breadcrumbs {
    background-color: #ffffff;
    padding: 0px;
}
nav#portal-breadcrumbs .container {
    padding: 10px 0px !important;
}
/* manage */
.template-manage-homeportlets .portletHeader strong:hover {
    background-color: transparent !important;
    border: 0px;
    strong {
        color: #686563 !important;
        display: block;
    }
}
.portletAssignments .managedPortlet .box {
    padding: 18px;
    background-color: #f2f5f6;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 10px;
}
h2.portletHeader {
    display: block;
    width: 100%;
    position: relative;
}
.span4 .portletWrapper .portlet h2:after {
    display: none;
}
/* Listado Eventos */
article.vevent {
    list-style: none;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: -1px;
    display: block;
    position: relative;
    transition: all 1s ease;
    padding: 18px 0;
    .event_listing section {
        float: left;
        width: 100%;
    }
    p.description,
    ul.horizontal.metadata {
        font-weight: 300;
        margin: 0 0 10px;
        color: #636363;
        font-size: 16px;
    }
    .documentByLine {
        font-weight: bolder;
        color: #636363;
        font-size: 16px;
    }
    span.summary {
        color: #007BC1;
        margin-top: 12px;
        font-size: 1.125rem;
        font-weight: 500;
        padding-right: 36px;
    }
    abbr[title] {
        border-bottom: 0px;
    }
    ul.horizontal.metadata {
        padding-left: 20px;
    }
}
/* Eventos */
.list-agenda {
    ol.row .card {
        height: 250px;
        margin-bottom: 24px;
        .event-title {
            font-size: 1.125rem;
            color: #636363;
            height: 84px;
            background: rgba(255, 255, 255, 0.9);
            position: absolute;
            width: 100%;
            margin: 0;
            bottom: 0;
            padding: 12px;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: 300;
        }
        .event-time {
            background-image: linear-gradient(89deg, #00BCD4 0%, #007bc1 100%) !important;
        }
    }
    a.card:hover {
        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), 0 5px 10px rgba(0, 0, 0, 0.1), 0 10px 20px rgba(0, 0, 0, 0.05);
        text-decoration: none;
        background-color: #F6F7F7;
        transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        -webkit-font-smoothing: subpixel-antialiased;
    }
    a.card:hover span.event-time::after {
        opacity: .9;
        content: "\e902";
        font-family: "upc-icones";
        border: 1.5px solid #007bc1;
        position: absolute;
        font-size: 1.125rem;
        left: calc(50% - 20px);
        margin-top: 4px!important;
        width: 38px;
        height: 38px;
        text-align: center;
        color: #007bc1;
        background: rgba(255, 255, 255, .8);
        z-index: 0;
        transition: all .5s ease;
        border-radius: 50%!important;
        padding-top: 10px;
        top: 45px;
    }
}
.list-agenda ol.row .card .event-time {
    top: calc(50% - 67px - 45px);
}

dl.event.summary.details {
    border: 0px;
    width: 100%;
    max-width: 100%;
    background-color: #F2F5F6;
}

/* Listado de Noticias */
ul.list-portlet {
    img.image-noticies {
        display: none;
    }
    li {
        width: 100%;
        min-width: 100%;
    }
    span.summary {
        color: #007bc1;
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: inherit;
    }
    .content-noticies p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        color: #636363;
    }
}
/* Noticias */

#content-core {
    border-top: 1px dotted #ccc;
    -webkit-columns: 350px 1;
    -moz-columns: 350px 1;
    columns: 350px 1;
    -webkit-column-gap: 2em;
    -moz-column-gap: 2em;
    column-gap: 2em;
    color: #636363;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
}
figure.newsImageContainer {
    float: left;
    width: 33.33% !important;
    margin: 0px 20px 0px 0px!important;
    border: 0px;
}
img.newsImage {
    max-height: 100%;
    max-width: 100%;
    width: 100%;
}
div#content-core {
    float: left;
    padding: 0px;
}
p {
    font-size: 16px;
    font-weight: 300;
}

/* VISTA TUBULAR */
body.template-tabular_view {
    #content-core {
        width: 100%;
    }
    .listing tbody tr,
    .listing tbody td {
        padding: 10px !important;
    }
}
/* VISTA TUBULAR */
body.template-view {
    .nav-tabs,
    .contentViews,
    .configlets {
        border-bottom: 0px;
    }
}
/* VISTA TUBULAR */
body.template-edit {
    #content-core {
        width: 100%;
    }
}
/* Categorías noticias */
.portlet.portletRss {
    .list-portlet li {
        .smaller {
            color: #666;
            display: list-item;
            white-space: nowrap;
        }
    }
}
/* NOTÍCIAS */
.portlet-noticies {
    .content-noticies p {
        margin: 0px;
    }
    .smaller {
        margin: 0px;
    }
    .noticia-full-2cols {
        .content-noticies {
            padding: 0px 0px 5px 0px !important;
        }
        h3,
        p {
            margin: 10px 0px 0px 0px !important;
            padding: 0px !important;
        }
    }
    .row-fluid {
        margin-top: 10px;
    }
    .portlet-footer {
        background: #f2f2f200;
        display: block;
        padding: 5px 10px 7px;
        border-top: 1px solid #fff;
        position: initial;
        font-size: 92.3076923%;
    }
    ul.list-portlet {
        li {
            border-top: 0px !important;
            margin-left: 0px !important;
            .smaller {
                color: #666;
                white-space: nowrap;
                width: 100% !important;
                display: inherit;
            }
        }
    }
}
.portlet-noticies.portlet-ampliat {
    .noticies-full {
        padding: 0px;
    }
}
ul.list-portlet {
    img.image-noticies {
        display: block;
        max-width: 50% !important;
    }
    .content-noticies p {
        font-size: 14px;
    }
}
.portlet.portletRecent {
    .portlet-footer {
        display: unset !important;
    }
    time.smaller {
        display: block;
    }
    li.portletItem.odd,
    li.portletItem.even {
        margin-left: 0px !important;
    }
}
/* Calendario */
.portletCalendar {
    h2 {
        border-bottom: 0px;
        color: #023470;
    }
}
/* Porlet general */
.portlet {
    h2 {
        margin-top: 15px;
    }
    a.portlet-footer {
        display: table;
        position: inherit;
    }
    ul.list-portlet li {
        border: 0;
        padding: 5px 0px !important;
        margin: 0px !important;
    }
}
.portlet.portletStaticText.portlet-static-portlet-estatico-con-contorno {
    p {
        font-size: 14px;
        font-weight: 300;
    }
}
#content-core {
    border-top: 0px;
}
/* vista rota manage home porlets */
body.template-manage-homeportlets {
    .portletHeader.clearfix.box.box-gradient.padding0:hover {
        margin-bottom: 10px!important;
        background-color: #f4f4f4 !important;
        background-image: none;
    }
    button.btn.btn-mini.btn-success,
    button.btn.btn-mini.btn-danger,
    button.btn.btn-mini {
        border: 0px;
        margin: 5px;
    }
    button.btn.btn-mini.btn-success:hover,
    button.btn.btn-mini.btn-danger:hover,
    button.btn.btn-mini:hover {
        border: 0px;
    }
    .portletHeader strong:hover + span {
        display: block;
    }
    .portletHeader strong {
        display: inline-block;
        padding: 2px 0 0 4px;
        overflow: hidden;
        text-overflow: unset;
        white-space: nowrap;
        width: 100%;
    }
    .portletHeader strong:hover {
        padding: 0px !important;
        margin: 0px !important;
        .clearfix.box.box-gradient.padding0:hover strong {
            color: #636363 !important;
        }
    }
    .portletHeader strong {
        padding: 0px;
        display: block;
        color: #007bc1!important;
    }
    .box:hover {
        margin-bottom: 10px !important;
    }
    .portletHeader.clearfix.box.box-gradient.padding0 {
        background-color: transparent!important;
        padding: 5px 10px !important;
        border: 1px solid #b8c6c8;
        border-radius: 4px !important;
        margin-bottom: 10px !important;
    }
    span.caret {
        position: absolute;
        right: 10px;
    }
    .btn-group.open ul.dropdown-menu {
        width: 100%;
    }
    h2.liniaDalt {
        padding-top: 20px;
    }
    .input-prepend.pull-right.clearfix input.editable {
        text-align: center;
        width: 20px !important;
        padding: 4px 2px;
    }
    #portal-header.no-image .container {
        padding-bottom: 0px;
    }
    #eines-menu-boto {
        right: 30px;
        top: 25px;
    }
    nav#portal-breadcrumbs .container {
        padding: 0px 20px;
    }
}
.portletAssignments .managedPortlet .box {
    margin-bottom: 0px !important;
}
/* responsive */
@media only screen and (max-width: 979px) {
    nav#portal-breadcrumbs {
        background-color: #f2f5f6;
        padding: 5px;
        margin: 15px 0px;
    }
    #gwsearch input.tt-hint {
        position: absolute !important;
        top: 0px;
    }
    #eines-menu-boto {
        width: 40px;
    }
    #portlet-navigation-tree.in {
        margin-bottom: 60px;
    }
    #portal-personaltools-wrapper .navbar-inner,
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        height: 50px !important;
        padding: 10px !important;
    }
    #content-area {
        margin-top: 0.5em;
        padding: 10px 30px !important;
    }
    #portlet-navigation-tree.in {
        margin-bottom: 00px;
    }
    p {
        font-size: 18px;
        font-weight: 300;
        padding: 5px 0!important;
    }
    .managePortletsLink {
        margin-top: 10px!important;
        margin-bottom: 20px !important;
    }
    ul#content-views {
        font-size: 20px;
    }
    #contentview-SEOProperties a {
        width: 45px;
    }
    ul#contentActionMenus {
        margin: 10px 0px !important;
        font-size: 18px;
        width: 100%;
        font-weight: 400;
    }
    footer#canvia-vista {
        padding: 0px 30px 10px 30px !important;
        font-size: 20px;
    }
    #cookies {
        font-size: 18px;
        line-height: normal;
    }
    ul.dropdown-menu.pull-right.actionMenuContent {
        left: 0px !important;
    }
    .dropdown-menu.pull-right,
    .dropdown-menu.newsImageContainer {
        right: auto;
    }
    .row-fluid .span8 p,
    .row-fluid .span8 address {
        font-size: 18px;
        line-height: 35px;
    }
    #eines-menu-boto,
    #titol-menu-2-boto {
        width: auto;
    }
    .image-noticies-full {
        border: 0;
        padding: 0px;
        max-width: 100%;
        width: 100%;
    }
    li.portletItem {
        padding: 15px 0px !important;
    }
    .noticies-full .image-noticies-full {
        width: 100%;
    }
    .container {
        width: 100% !important;
    }
    li {
        line-height: normal;
    }
    #portal-column-one,
    #portal-column-content {
        position: relative;
        margin: 10px 0px;
    }
    div#content-core a.link-parent {
        margin-bottom: 20px;
    }
    header#portal-header .clearfix {
        padding: 0px;
        margin-top: 10px !important;
    }
    #portal-header .titol-espai h1 {
        padding: 0px;
    }
    body.template-homepage #content-area,
    footer#canvia-vista,
    #content-area {
        padding: 0px 10px !important;
    }
    #portlet-navigation-tree.in {
        max-width: 96%;
        padding: 0% 2% !important;
    }
    #portal-header.no-image .container {
        padding-bottom: 0px;
    }
    nav#portal-breadcrumbs .container {
        padding: 0px !important;
    }
    .formTabs > li > a.selected,
    .formTabs > li > a.selected:hover {
        font-size: 20px;
    }
    #plone-document-byline {
        margin: 10px 0 20px 0;
        font-size: 16px;
    }
    #viewlet-above-content-title,
    .documentFirstHeading,
    #viewlet-below-content-title,
    #viewlet-above-content-body {
        display: none;
    }
    ul.adjust-langs li {
        font-size: 14px;
    }
}
h2#loginModalLabel {
    color: #0077C8;
    font-weight: 300;
}
.modal-body .documentDescription {
    font-size: 107.692308%;
    font-weight: bold;
    color: #aaa;
    margin-bottom: 18px;
}
.titol-espai a span {
    padding: 0px;
}
header#portal-header .clearfix {
    padding: 5px 20px 0px 20px;
}
#portal-header.no-image + #portal-globalnav #menu-1 ul {
    border-top: 0px solid;
}
#portal-globalnav .container {
    max-width: 100% !IMPORTANT;
    margin: 0px !important;
    width: 100% !important;
}
div#menu-1 {
    max-width: 1170px;
    margin: 0 auto;
}
#menu-1 ul li:first-child:nth-last-child(10) a,
#menu-1 ul li:first-child:nth-last-child(10) ~ li a {
    border-bottom: 0px !important;
    padding-left: 0px;
    padding-right: 0px;
    text-align: left;
}
.plain a.state-pending,
.plain a.state-draft,
.plain a.state-restricted-to-managers,
.plain a.state-private,
.plain a.state-visible,
.plain a.state-intranet,
.plain a.state-published {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 12px;
    margin: 0px;
    font-weight: 400 !important;
}
#portal-globalnav .nav > li > a,
#portal-globalnav .contentViews > li > a,
#portal-globalnav .configlets > li > a,
#portal-globalnav .formTabs > li > a {
    border-right: 0px;
}
.container {
    max-width: 1170px !important;
    width: 100%;
}
#portal-globalnav .nav > li:first-child > a,
#portal-globalnav .contentViews > li > a,
#portal-globalnav .configlets > li:first-child first-child > a,
#portal-globalnav .formTabs > li:first-child > a {
    border-radius: 0 0 0 3px;
    background-color: white;
}
.header-image {
    margin-bottom: -1px;
    box-shadow: none;
    width: 100%;
    max-width: 100%;
}
#portal-header .container {
    width: 100%;
    max-width: 100% !important;
}
header#portal-header {
    max-width: 1170px;
    margin: 0 auto;
    background-color: white !important;
}
header#portal-header .clearfix {
    padding: 0px;
    margin-top: 10px;
}
header#portal-header {
    max-width: 100%;
}
.header-image {
    background-size: cover;
    border-radius: 0px !important;
}
p.hiddenStructure,
header#portal-header .clearfix,
.titol-espai h1 {
    max-width: 1170px;
    margin: 5px auto 0px auto;
}
#portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
    background-color: white;
}
#portal-header .container {
    width: 100% !important;
    max-width: 100% !important;
    margin: 0px !IMPORTANT;
}
li.plain a:hover {
    color: #333333 !IMPORTANT;
}
.titol-espai h1 {
    font-weight: 300;
}
.navbar .nav > li > a,
.navbar .contentViews > li > a,
.navbar .configlets > li > a,
.navbar .formTabs > li > a {
    border: 0px solid !important;
    margin-right: 20px;
    padding: 9px 0px;
}
#menu-1 ul {
    border-bottom: 0px solid;
    padding-bottom: 5px;
}
#portal-header.no-image + #portal-globalnav .navbar-inner {
    margin-top: -20px;
    background-color: white !important;
    border: 0px !important;
    background-image: none;
}
#portal-header .container {
    border-top: 0px solid;
}
.navbar .nav > .active > a,
.navbar .contentViews > .active > a,
.navbar .configlets > .active > a,
.navbar .formTabs > .active > a {
    color: #666;
}
.navbar .contentViews > .active > a:hover,
.navbar .configlets > .active > a:hover,
.navbar .formTabs > .active > a:hover,
.navbar .nav > .active > a:focus,
.navbar .contentViews > .active > a:focus,
.navbar .configlets > .active > a:focus,
.navbar .formTabs > .active > a:focus {
    color: #555 !important;
}
#portal-globalnav .navbar .nav > li > a:hover {
    background-color: white;
    box-shadow: none;
}
#portal-globalnav .navbar .nav > li,
#portal-globalnav .navbar .contentViews > li,
#portal-globalnav .navbar .configlets > li,
#portal-globalnav .navbar .formTabs > li {
    background-color: white;
}
#portal-header.no-image + #portal-globalnav .navbar-inner {
    margin-top: -20px;
    background-color: white !important;
    border: 0px !important;
    box-shadow: none;
}
#menu-1 ul li:first-child:nth-last-child(10) a,
#menu-1 ul li:first-child:nth-last-child(10) ~ li a {
    padding-left: 1% !important;
    padding-right: 1% !important;
}
.navbar .nav > .active > a{
    background-image: none;
    box-shadow: none;
}
a.state-published span:hover,
#portal-columns .navbar .nav > .active > a{
    text-decoration: none;
}
#bandaLogos .container {
    border-top: 0px;
}
header#portal-header .titol-espai.clearfix h1 {
    margin: 10px 0px !important;
}
#eines > li > a,
#eines-mov > li > a {
    font-size: 14px;
}
.portlet {
    box-shadow: none;
    border-radius: 0px;
    margin-bottom: 20px;
    border: 0px;
}
.portlet-esdeveniments ul {
    margin-bottom: 0px;
    border: 0px;
}
ul.list-portlet li.clearfix {
    margin-bottom: 20px !important;
    border: 0px !important;
    box-shadow: none !important;
}
.portlet.portlet-noticies.portlet-ampliat li.clearfix h3,
.portlet.portlet-noticies.portlet-ampliat li.clearfix img {
    padding: 0px !important;
    margin: 10px 0px !important;
}
.portlet-esdeveniments ul li {
    min-height: 50px;
}
.portlet-esdeveniments ul li:first-child {
    border-top: 0;
}
.large-icon.icon-news,
.large-icon.icon-news-item {
    right: 5px;
}
#baners ul.unstyled li a img {
    width: 100%;
    height: auto;
}
a.summary.url {
    font-weight: 400;
    line-height: initial;
    font-size: 20px;
}
body.mceContentBody h2,
#content-core #parent-fieldname-text h2 {
    color: #666;
    position: relative;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 300!important;
    padding-bottom: 5px!important;
    overflow: hidden;
}
#menu-1 ul li:first-child:nth-last-child(12) a,
#menu-1 ul li:first-child:nth-last-child(12) ~ li a {
    padding-left: 0% !important;
    padding-right: 0% !important;
}
.state-draft,
#workflow-transition-reject,
#workflow-transition-retiraaesborrany,
#workflow-transition-show,
.state-visible {
    color: #72a31d !important;
}

form.kssattr-serveraction-foldercontents_update_table td:nth-child(6) .state-draft,
form.kssattr-serveraction-foldercontents_update_table td:nth-child(6) .state-visible {
    color: #FFF !important;
}

.navbar .nav > li > a:focus,
.navbar .contentViews > li > a:focus,
.navbar .configlets > li > a:focus,
.navbar .formTabs > li > a:focus {
    background-color: white;
}
#menu-1 ul li:first-child:nth-last-child(8) a,
#menu-1 ul li:first-child:nth-last-child(8) ~ li a {
    padding-left: 0% !important;
}
li a.state-private {
    color: #a62e1f !important;
}
li a.state-intranet {
    color: #8952ab !important;
}
#accordionLogin {
    max-width: 100%;
    width: 100%;
    margin: 20px 0px !important;
    padding: 0px;
}
/* footer */
#bandaLogos {
    border-top: 0px !important;
    background: #F6F7F7;
    .container {
        border-top: 0px !important;
    }
    .llistatLogos img {
        max-height: 100px;
    }
}
footer#peu {
    padding: 0px 10px !important;
    font-size: 20px;
    background: #F6F7F7;
    border-top: 0px solid;
    p {
        font-size: 16px;
        margin: 6px 0;
    }
    .row-fluid {
        margin-bottom: 20px;
    }
    .amunt {
        margin-left: 15px;
    }
    .container {
        border-top: 0px !important;
    }
    address {
        margin-top: 15px;
    }
}
ul.pull-right.sobreElWeb {
    font-size: 16px;
}
.collage-row:first-child {
    border-top: 0px solid #b2b2b2;
}
#peu .container {
    border-top: 0px solid #666;
}
.template-listing_view #content dl dt:before {
    margin-top: -37px;
}
/* Breadcrum  */
div#viewlet-above-content {
    display: none;
}
body.template-homepage nav#portal-breadcrumbs {
    display: block;
    padding: 0px;
    background-color: white;
    margin: 0px;
}
nav#portal-breadcrumbs {
    background-color: #F2F5F6;
    padding: 5px;
    .container {
        width: 1170px;
        padding: 15px;
    }
    ol.breadcrumb li a {
        font-weight: 300;
        line-height: 1.25;
    }
    li.active a {
        color: #007BC1;
    }
    .breadcrumb .active {
        font-weight: 300;
    }
}
nav#portal-breadcrumbs {
    background-color: #ffffff;
    padding: 0px;
}
nav#portal-breadcrumbs .container {
    padding: 10px 0px !important;
}
.template-listing_view #content dt {
    margin-top: 0px;
}
.alert .close,
.portalMessage .close {
    right: 5px;
}
.alert {
    padding: 10px;
}
.alert.alert-error {
    border-radius: 4px !important;
    margin: 0px !important;
    padding: 10px !important;
    text-shadow: none !important;
    font-size: 14px !important;
}
#cookies {
    border-bottom: 0px;
    color: #666666;
    font-size: 16px;
}
#parent-fieldname-text h3:first-child {
    margin-top: 20px;
}
.accordion-group {
    margin-bottom: 10px;
    background: #fff;
    border: 1px solid #b2b2b2;
    border-radius: 0 !important;
}
body.template-login_failed #portal-header.no-image .container {
    padding-bottom: 0px;
    border-bottom: 3px solid #666!important;
}
#menu-1 .nav li.active a {
    font-weight: bold !important;
    border-bottom: 1px solid #000 !important;
}
#content #content-core ul {
    margin-left: 0px;
}
.formTabs > li > a:hover {
    border: 1px solid white;
}
#menu-1 ul li a {
    border-bottom: 0px solid transparent !important;
}
#search-results a span {
    display: contents;
}
dd.actionMenuContent {
    margin: 10px 0px 0px 0px;
}
form.searchPage h1 {
    margin-top: 20px;
}
.llistatLogos li {
    margin: 0 0 0.7em;
}
.llistatLogos {
    padding-top: 0.75em;
}
.contentViews > li > a:hover,
.formTabs > li > a:hover,
.nav > li > a:hover {
    border: 0px !important;
}
.contentViews > li > a:hover,
.formTabs > li > a:hover {
    background-color: #f2f2f2;
}
#portal-sitemap ul > li li {
    padding: 15px 0px 0px 0px;
    line-height: 5px;
    font-weight: normal;
}
#portal-sitemap ul > li li {
    font-weight: 300;
}
body.template-sitemap #content-area #portal-column-content #content .documentDescription {
    font-weight: 300;
}
body.template-sitemap ul.navTree ul.navTree {
    margin-bottom: 10px !important;
}
footer#peu {
    margin-top: 5px !important;
}
body.template-sitemap ul#portal-sitemap span {
    display: inherit;
}
body.template-genweb-controlpanel {
    section#content-area {
        margin: 0px !important;
    }
    #portal-header.no-image .container {
        padding-bottom: 0px;
    }
}
body.template-genweb-controlpanel nav#portal-breadcrumbs {
    border-top: 3px solid #666 !important;
}
#menu-1 ul li:first-child:nth-last-child(10),
#menu-1 ul li:first-child:nth-last-child(10) ~ li {
    border: 0px;
}
ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Baners amb imatge */

.link-bannerimg img:not(.link_blank),
.link-banner-minimal-nolink img:not(.link_blank),
.link-banner-minimal img:not(.link_blank) {
    object-fit: cover;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    transition: all .5s ease;
}

.link-bannerimg span,
.link-banner-minimal-nolink img + span,
.link-banner-minimal img + span {
    background: rgba(255,255,255,0.8);
    color: #636363;
    padding: 3px 6px;
    display: inline-table;
    position: relative;
}

/* Tiny */

body#mceTemplatePreview {
    ul.list-index li:before {
        margin-top: -34px;
    }

    ul.list-highlighted li:before {
        margin-top: -28px;
    }
}

/* Cambios 12/11/2019 */
@media only screen and (max-width: 979px){
    h1.documentFirstHeading {
        display: block;
    }
    .lletra-cercle {
        float: left;
        font-size: 2rem;
        margin-top: -10px;
    }
    #content-core #parent-fieldname-text h2{
        color: #666;
        line-height: unset;
        position: relative;
        font-family: Roboto,Arial,sans-serif;
        padding-bottom: 0px!important;
        overflow: hidden;
    }
    .list-sections li>.lletra-cercle:first-child~*{
        margin-left: 40px;
        margin-bottom: 0px;
    }
    ul.list-sections p.hidden-phone {
        display: block;
    }
}

section#content-area {
    border-bottom: 0px solid #666!important;
}

.box.pull-right a[class^='link-banner-']::after {
    padding-top: 7px;
}

/* Meter dentro del iframe */
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .visible-phone,
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .visible-tablet,
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .visible-desktop,
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .hidden-phone,
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .hidden-tablet,
body.mceContentBody	 .destacat.destacat-dreta.hidden-phone .hidden-desktop {
    background: #f2f5f6 !important;
}
.destacat.destacat-dreta.hidden-phone p {
    padding: 20px 0px  !important;
}

/* IMG carrousel */
@media (max-width: 768px){
    .gallery-logos .span2.gellery-bottom {
        width: 50%;
        max-width: 50%;
    }
    .gallery-logos .gellery-bottom img.logo {
        width: 100%;
    }
    .gallery-logos .span2.gellery-bottom {
        width: 48%;
        max-width: 50%;
        height: auto;
        float: left;
        margin: 1% !important;
    }
}


/* Retoques 20/11 */

li.plain a.state-visible {
    background-color: transparent !important;
}
body.template-news_listing ul.list-portlet img.image-noticies {
    max-width: 75px !important;
}
/* Controles de noticias */
.listingBar ul:not([class]):not([id]) {
    padding-left: 0px !important;
}

.listingBar a.previous {
    width: 49%;
    float: left;
    padding: 10px 0px 10px 5px;
    border: 0px;
    line-height: unset;
    text-align: left;
}
.listingBar a.next {
    width: 49%;
    float: right;
    padding: 10px 0px 10px 5px;
    border: 0px;
    line-height: unset;
    text-align: right;
}
.discussion .comment {
    margin-bottom: 1em;
}
.discussion .commentBody {
    padding: 5px 10px 5px 10px;
}
.commentDate {
    margin: 1px 5px;
    padding-top: 0px;
}

.nav.contentViews li.active a {
    border: 0px !important;
    background: transparent !important;
    background-image: none;
}
.nav.contentViews li a {
    background: transparent !important;
}
#menu-1 ul li:first-child:nth-last-child(9) ~ li a {
    padding-left: 1% !important;
    padding-right: 1% !important;
}
ul.nav li.plain:last-child a {
    margin-right: 0px !important;
}
ul.nav li.plain:first-child a {
    margin-left: 0px !important;
    padding-left: 0px !important;
}


/* Listados */

ul:not([class]):not([id]) {
    padding-left: 16px !important;
}

.list,
.llistat,
.list-index,
.llistatIndex,
.list-striped,
.list-hover,
.list-notebook,
.portaltype-packet .estudis .llistatEnllacos {

    li::before {
        color: #636363 !important;
    }
}

body.mceContentBody:not(#mceTemplatePreview) {

    .list-index li:before,
    .llistatIndex li:before,
    .list-striped li:before,
    .list-hover li:before,
    .list-notebook li:before,
    .list-bordered li:before {
        margin-top: -38px;
    }
}

body.mceContentBody:not(#mceTemplatePreview) .list-highlighted li:before {
    margin-top: -32px;
}

#viewlet-below-content a.btn.btn-small.btn-block {
    display: inline-block;
}


/* flecha */

.link-banner::after,
.link-bannerblau::after,
.link-bannerdanger::after,
.link-bannerimg::after,
.link-bannersuccess::after,
.link-bannerwarning::after,
.link-banner-minimal-blue::after,
.link-banner-minimal::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-banner::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-bannerblau::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-bannerdanger::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-bannerimg::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-bannersuccess::after,
body.section-templates.mceContentBody:not(#mceTemplatePreview) .link-bannerwarning::after{
    width: 36px !important;
    height: 36px !important;
    max-width: 36px !important;
    max-height: 36px !important;
    content: "\e902" !important;
    font-family: upc-icones !important;
    position: absolute !important;
    font-size: 1.125rem !important;
    right: 24px !important;
    top: 50% !important;
    margin-top: -18px !important;
    border-radius: 50%!important;
    text-align: center !important;
    z-index: 0 !important;
    box-sizing: border-box !important;
}

iframe#templatesrc {
    .link-banner::after,
    .link-bannerblau::after,
    .link-bannerdanger::after,
    .link-bannerimg::after,
    .link-bannersuccess::after,
    .link-bannerwarning::after,
    .link-banner-minimal-blue::after,
    .link-banner-minimal::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimal-blue::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimalu::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-banner::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-bannerblau::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-bannerdanger::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-bannerimg::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-bannersuccess::after,
    body.mceContentBody:not(#mceTemplatePreview) .link-bannerwarning::after,
    div#parent-fieldname-text .link-banner::after,
    div#parent-fieldname-text .link-bannerblau::after,
    div#parent-fieldname-text .link-bannerdanger::after,
    div#parent-fieldname-text .link-bannerimg::after,
    div#parent-fieldname-text .link-bannersuccess::after,
    div#parent-fieldname-text .link-bannerwarning::after,
    div#parent-fieldname-text .link-banner-minimal-blue::after,
    div#parent-fieldname-text .link-banner-minimal::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimal-blue::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimal::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-banner::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-bannerblau::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-bannerdanger::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-bannerimg::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-bannersuccess::after,
    div#parent-fieldname-text body.mceContentBody:not(#mceTemplatePreview) .link-bannerwarning::after {
        padding-top: 5px!important;
    }
}
div#content-core{
    form:not(.rowlike) {
        padding: 20px;
    }
}
body.mceContentBody {
    background: #fff;
    margin: 0;
}
#content{
    .item{
        .link-banner::after,
        .link-bannerblau::after,
        .link-bannerdanger::after,
        .link-bannerimg::after,
        .link-bannersuccess::after,
        .link-bannerwarning::after,
        .link-banner-minimal-blue::after,
        .link-banner-minimal::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimal-blue::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-banner-minimal::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-banner::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-bannerblau::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-bannerdanger::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-bannerimg::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-bannersuccess::after,
        body.mceContentBody:not(#mceTemplatePreview) .link-bannerwarning::after{
            padding-top: 3px!important;
        }
    }
}
body#mceTemplatePreview {
    .link-banner-minimal-blue::after,
    .link-banner-minimal::after,
    .link-banner::after,
    .link-bannerblau::after,
    .link-bannerdanger::after,
    .link-bannerimg::after,
    .link-bannersuccess::after,
    .link-bannerwarning::after{
        padding-top: 3px!important;
    }
}
body.section-templates {
    .link-banner::after,
    .link-bannerblau::after,
    .link-bannerdanger::after,
    .link-bannerimg::after,
    .link-bannersuccess::after,
    .link-bannerwarning::after,
    .link-banner-minimal-blue::after,
    .link-banner-minimal::after {
        padding-top: 3px !important;
    }
}

.navbar .nav .dropdown-toggle .caret,
.navbar .contentViews .dropdown-toggle .caret,
.navbar .configlets .dropdown-toggle .caret,
.navbar .formTabs .dropdown-toggle .caret {
    margin-top: 11px;
}

.existing_content_portlet {
    display: inline-block;
    width: 100%;
}

.existing_content_portlet_no_border > .portlet-content {
    display: inline-block;
    width: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .navbar .nav, .navbar .contentViews,
    .navbar .configlets, .navbar .formTabs{
        max-width: 1170px;
        width: 100%;
    }

    #portal-globalnav #menu-1 ul,
    #portal-globalnav #menu-1 ul li,
    #portal-globalnav .navbar,
     #portal-globalnav .navbar .nav > li > a{
        word-wrap: normal;
    }

    #menu-1 ul li:first-child:nth-last-child(9) ~ li a{
        max-width: 200px;
        width: 100%;
    }
}

.destacat-contingut h2 {
    color: #666 !important;
}

.filtered_contents_search_pretty .span3 h2 {
    color: #636363!important;
}

@media (max-width: 768px){
    .destacat.destacat-dreta {
        display: inline;
    }
}

.img-polaroid {
    max-width: calc(100% - 10px) !important;
}
