/* Rasgos generales */

body{
    font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    color: #636363;
    background-color: #fff;
}
label {
    font-weight: 500;
}
a {
    color: #007BC1;
    text-decoration: none;
}
select {
    border: 1px solid #b2b2b2;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px !important;
    margin-top: 6px;
}
li.active a {
    font-weight: 600;
}
ul.nav-tabs li a {
    border-left: 0px !important;
    border-top: 0px !important;
    border-right: 0px !important;
    background-color: white !important;
    background: none !important;
}
ul.nav-tabs li.active {
    border-bottom: 2px solid #007ac1 !IMPORTANT;
}
.portlet h2 {
    overflow: hidden;

/*    &::after{
        content: "";
        position: absolute;
        margin-left: 12px;
        background: #d1d1d1;
        height: 1px;
        box-shadow: 1000px 0 0 -1000px #d1d1d1;
        width: 100%;
        top: 50%;
    }*/
}
li#contentview-view a {
    border: 0px;
    background-color: white;
    background-image: none;
}

.span3 .noborder .field select {
    max-width: 245px;
}
body.template-homepage nav#portal-breadcrumbs {
    display: none;
}
.documentEditable p.lead-small {
    color: #ffffff;
    text-shadow: none;
    background-color: #007bc0;
    border: 0px;
    padding: 20px !important;
}
.contentViews>li>a:hover,
.formTabs>li>a:hover,
.nav>li>a:hover {
    text-decoration: none;
    border: 0px;
    color: #007ac1;
}
.contentViews>li>a,
.formTabs>li>a,
.nav>li>a{
    text-decoration: none;
    border: 0px;
    color: #4a4a4a;
}
fieldset#search-field input.searchPage.searchButton.allowMultiSubmit {
    padding: 10px !important;
}
.portaltype-collage table.plain td, 
.portaltype-collage table.plain th {
    border: 0px !important;
}
#edit-bar {
    border-bottom: 0px;
}
#content-core .well ul {
    margin: 10px 5px 15px 5px;
}
.document-heading {
    margin: 0px 0 36px 0;
}
button#contacte_submit {
    margin-top: 20px;
}
#content-core dl dd.margin0 {
    margin-bottom: 20px !important;
}
.tab-pane.hide_only_curriculum {
    margin-top: 0;
    border: 1px solid #ccc !important;
    border-top: 0;
    padding: 0!important;
}
h1.documentFirstHeading {
    font-size: 1.8rem;
    color: #4a4a4a;
    background: 0 0;
    border-bottom: 3px solid #b8c6c8;
    margin: 0px 0 12px 0;
    padding: 0 0 12px 0;
    font-weight: 500;
}
h2.row-fluid, h2.liniaDalt {
    font-size: 1.2rem;
    color: #636363;
    position: relative;
    overflow: hidden;
    padding: 6px 0;
    margin-top: 0;
}
.documentDescription {
    font-size: 107.692308%;
    font-weight: 400;
    color: #616161;
    margin-bottom: 18px;
}
[class^="span"] {
    margin-bottom: 0px;
}

ul.investigadors.pull-left li {
    margin-bottom: 10px;
}

a.btn.btn-small.btn-block {
    display: inline-block;
    background: none !important;
    padding: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px !important;
    background-color: #efefef !important;
    width: 240px;
    text-align: center;
    margin: auto !important;
}
input#form-buttons-save {
    background-color: #007bc0;
    padding: 5px;
    color: white;
}
.btn,
.context,
.link-parent,
.searchButton,
.standalone,
[type=submit],
button.pfg-draft-save,
input[value^=Cancel] {
    text-shadow: none;
    background-image: none!important;
    border-radius: 4px!important;
    background-color: #f2f5f6;
    padding: 5px;
}

.contentViews .nav-list>.selected:hover>a,
.formTabs>li>a.selected,
.formTabs>li>a.selected:hover,
.nav-list>.active>a,
.nav-list>.active>a:hover,
.nav-list>.selected>a,
.nav-list>.selected>a:hover {
    color: #4a4a4a;
    background-color: #ffffff;
    border-radius: 0px !important;
    text-shadow: none!important;
    font-size: 14px;
    border-bottom: 2px solid #007bc0;
}
.nav-tabs > li > a,
.contentViews > li > a,
.nav-pills > li > a,
.formTabs > li > a{
    margin-right: 4px !important;
}
.selected.required:after {
    color: #a62e1f;
    margin-left: 5px;
}
.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after{
    right: 30px !important;
}
body.template-folder_contents{
    table.table.table-condensed tbody td,
    table.table.table-condensed tbody tr,
    table.table.table-condensed thead.hide_mobile td,
    table.table.table-condensed thead.hide_mobile tr{
        padding: 3px 10px!important;
    }
}

#folder-index-view h3 {
    margin-bottom: 20px !important;
}
.event_listing section article.vevent:first-child {
    border-top: 0px !important;
    padding-top: 0px;
}

.subnavbar .nav-list .active ul a:before, .subnavbar .nav-list .selected ul a:before{
    display: none;
}

.anyipsum-form-header {
    font-size: 1.125rem;
    color: #7F7F7F;
}

body.template-news_listing ul.list-portlet img.image-noticies {
    max-width: 25%!important;
}

body.template-newsitem_view .documentEditable p {
    font-size: 1.125rem;
    color: #7F7F7F;
    font-weight: inherit;
    padding: 0px 0!important;
    margin: 0px !important;

}
dd.margin0 {
    padding-top: 0px !important;
}
body.template-document_view #parent-fieldname-text table.table.table-no-heading-border td {
    padding: 10px !important;
}
div#content div#content-core {
    width: 100%;
}
.portalMessage.info strong:after,
.portalMessage dt:after,
.alert strong:after {
    content: ":";
}
.documentEditable .portalMessage dd,
.documentEditable .portalMessage dt {
    padding: 0px!important;
    border-bottom: 0px;
}
.alert.alert-error {
    border-radius: 4px!important;
    margin: 20px 0!important;
    padding: 10px !important;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
    button.close {
        color: #bf1111;
    }
}
.alert,
.alert strong {
    padding: 0px;
}
a.state-visible.contenttype-document:after,
a.state-visible.navTreeFolderish.contenttype-folder:after {
    background-color: #72a31d!important;
}
a.state-intranet.navTreeFolderish.contenttype-folder:hover {
    color: #8952ab;
}
nav.subnavbar ul{
    ul li a span {
        padding-left: 15px !important;
    }
    .state-private span:hover {
        color: #752217;
    }
    a.state-visible.navTreeFolderish.contenttype-folder:after {
        background-color: #72a31d !important;
    }
    a.state-private.navTreeFolderish.contenttype-folder {
        color: #a62e1f;
    }
    a.state-visible.navTreeCurrentItem.active.navTreeCurrentNode.contenttype-document:after {
        background-color: #7aa31d;
    }
    img.link_blank {
        position: absolute;
        top: 20px;
        right: 16px;
    }
}
.subnavbar .nav-list .active ul,
.subnavbar .nav-list .selected ul {
    border-top: 0px solid #b2b2b2;
}
.subnavbar .nav-list {
    border: 0px !important;
}
body.portaltype-packet .tab-content .hide_mobile a .hide_pdf img {
    width: 100%;
}
th#foldercontents-order-column {
    width: 100px;
}
.btn-primary:hover,
.context:hover,
.btn-primary:active,
.context:active,
.btn-primary.active,
.active.context,
.context.selected,
.btn-primary.selected,
.contentViews .btn-primary.selected:hover,
.btn-primary.disabled,
.disabled.context,
.btn-primary[disabled],
[disabled].context {
    color: black;
    background-color: #e4e4e4;
}
a.link-parent {
    background-color: #007bc0;
    color: white;
}
.link-parent:before {
    filter: brightness(1);
}
.multipleSelectionWidget dt {
    width: 170px;
    height: 1.5em;
    overflow: hidden;
    padding: 0px !important;
}
.documentEditable .QueryWidget dt {
    padding: 0px!important;
}
dl.multipleSelectionWidget, #content dl.multipleSelectionWidget {
    margin: 0;
    display: block;
    width: 175px;
    float: left;
    margin-right: 0.5em;
    border: 1px solid #b2b2b2;
    background-color: #fff;
    cursor: pointer;
    border-radius: 4px!important;
    margin-top: 6px;
}
.ploneSkin table.mceToolbar,
.ploneSkin tr.mceFirst .mceToolbar tr td,
.ploneSkin tr.mceLast .mceToolbar tr td {
    border: none !important;
    padding: 0 !important;
}
form.form-vertical .form-contingut {
    padding: 10px;
}
/* ADMINISTRAR PORLET DEBAJO DE LA BARRA DE NAVEGACIÓN VERTICAL */
a.btn.btn-small.btn-block {
    width: 100%;
}

/* Cabezal */

header#portal-header {
    .container{
        border-top: 0px;
        max-width: 100% !important;
        width: 100% !important;
    }
    .clearfix{
        margin: 0 auto;
        max-width: 1170px;
        padding: 10px 20px;
    }
}

/* Breadcrum  */
div#viewlet-above-content {
    display: none;
}

nav#portal-breadcrumbs{
    background-color: #F2F5F6;
    padding: 5px;
    .container {
        width: 1170px;
        padding: 15px;
    }
    ol.breadcrumb li a{
        font-weight: 300;
        line-height: 1.25;
        color: #636363;
    }
    li.active a{
        color: #007BC1;
    }
    .breadcrumb .active{
        font-weight: 300;
    }
}

/* Menú superior secundario*/

nav#portal-globalnav{
    background-color: #ffffff; max-width: 100%!important;
    width: 100%!important;

    .container{
        margin: auto;
    }
    #portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
        margin-top: 0px;
        margin: auto;
    }
}

/* Títulos de Portlet */
.portletWrapper .portlet h2:after {
/*
    content: "";
    position: absolute;
    background: #d1d1d1;
    height: 1px;
    box-shadow: 1000px 0 0 -1000px #d1d1d1;
    width: 120px !important;
    top: 50%;
    margin-left: 20px;

    :after {
        content: "";
        position: absolute;
        margin-left: 12px;
        background: #d1d1d1;
        height: 1px;
        box-shadow: 1000px 0 0 -1000px #d1d1d1;
        width: 85%;
        top: 50%;
    }
*/
}
.large-icon.icon-news, .large-icon.icon-news-item {
    font-size: 1rem;
    top: .4rem;
    position: absolute;
    right: 0;
    z-index: 1;
    background-position: -37px -252px;
}
.titling-line-container{
     .titling-line{
         &::after {
            content: "";
            position: absolute;
            margin-left: 12px;
            background: #d1d1d1;
            height: 1px;
            box-shadow: 1000px 0 0 -1000px #d1d1d1;
            width: 100%;
            top: 50%;
        }
    }
}




/*  Noticias*/
.portletWrapper{
    .portlet {
        > .pad {
            border-bottom: 0px;

            h2{
                width: 100%;
                border-bottom: 0px;
                &::after {
                    content: "";
                    position: absolute;
                    margin-left: 12px;
                    margin-right: 12px;
                    background: #d1d1d1;
                    height: 1px;
                    box-shadow: 1000px 0 0 -1000px #d1d1d1;
                    top: 50%;
                }
            }
        }
    }
    .noticies-full + h3 {
        font-size: 1.125rem;
        color: #4a4a4a;
        font-weight: 300;
        margin-top: 15px;
        padding-left: 10px !important;
        padding-right: 10px !important;

    }
    .content-noticies {
        p{
            margin: 10px;
            font-weight: 300;
            font-size: .8125rem;
            color: #636363;
        }
        hr {
            border-top: 0px solid #b2b2b2;
            border-bottom: 0px solid #fff;
        }
    }
    a{
        &:hover {
            text-decoration: none;
        }
    }
    .noticia-full-2cols {
        background-color: #F2F5F6;
        margin-bottom: 20px;
        .noticies-full {
            padding: 0px;
        }
        &:hover{
            transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        }
        &:active{
            transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        }
    }
}


/* Header */

#portal-header{
    border-top: 0px !Important;

    h1.pull-left {
        img {
            height: 100%;
            width: 320px;
        }
    }
    + #portal-globalnav #menu-1 ul {
        border: 0px !important;
    }
    .clearfix {
        margin: 0 auto;
        max-width: 1140px;
        padding: 20px;
    }
}

nav#portal-globalnav{
    .container {
        max-width: 1140px !important;
    }
}

#portal-globalnav {

    .state-published {
        border-bottom: 0px;
    }
    #portal-header.no-image + #portal-globalnav #menu-1 ul {
        border-top: 0px;
    }
}
ul.nav{
    li {
        border: 0px !important;
    }
}
nav#portal-globalnav {
    .container {
        max-width: 1200px !important;
    }
}


/* Porlet de navegación del sidebar */

ul#portlet-navigation-tree{
    li{
        a{
            padding: 15px 20px !important;
            border: 0px !important;
            background-color: #F2F5F6 !important;
            margin-bottom: 5px !important;
        }
    }
    li.navTreeItem{
        a:hover:after,
        a.active > div > a:after,
        a.selected > div > a:after {
            top: 18px;
            right: 10px;
        }
    }
}


.subnavbar .nav-list a:hover:after,
.subnavbar .nav-list .active > div > a:after,
.subnavbar .nav-list .selected > div > a:after {
    right: 10px;
    top: 18px;
}

.subnavbar .nav-list .active ul a:before,
.subnavbar .nav-list .selected ul a:before {
    top: 13px;
    left: 5px;
}

.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after {
    right: 50px;
    top: 15px;
}
a.state-published span {
    padding-right: 20px !important;
    display: block;
}
ul#portlet-navigation-tree li.navTreeItem a.active>div>a:after,
ul#portlet-navigation-tree li.navTreeItem a.selected>div>a:after,
ul#portlet-navigation-tree li.navTreeItem a:hover:after {
    right: 10px !important;
}
.subnavbar .nav-list .active ul a.state-visible {
    color: #666666;
}
.subnavbar .nav-list a.state-visible:hover:after,
.subnavbar .nav-list .active .visible-draft:after,
.subnavbar .nav-list .selected .visible-draft:after {
    background-color: #007bc0;
}

.subnavbar .nav-list .active>div>a:after,
.subnavbar .nav-list .selected>div>a:after,
.subnavbar .nav-list a:hover:after {
    top: 15px !important;
    right: 10px !important;
}
.subnavbar .nav-list a.states-draft,
.subnavbar .nav-list a#workflow-transition-reject,
.subnavbar .nav-list a#workflow-transition-retiraaesborrany,
.subnavbar .nav-list a#workflow-transition-show,
.subnavbar .nav-list a.state-visible {
    color: #72a31d !important;
}
/* footer */
#bandaLogos {
    border-top: 0px !important;
    background: #F6F7F7;

    .container {
        border-top: 0px !important;
    }
    .llistatLogos img {
        max-height: 100px;
        border-radius: 50px !important;
    }
}
#peu {
    background: #F6F7F7;
    border-top: 0px !important;
    padding: 20px;

    .container {
        border-top: 0px !important;
    }
}



/* Més notícies */

ul.list-portlet {
    border-bottom: 0px;
    margin: 0px;

    li:first-child {
        width: 98%;
        margin-right: 0px;
        float: left;
        height: auto;
    }
    li {
        width: 48%;
        margin: 0px 8px !important;
        padding-top: 20px !important;
        float: left;
    }
    img.image-noticies {
        max-width: 170px !important;
        width: 100%;
        height: 170px;
        object-fit: cover;
    }
    span.summary {
        color: #007BC1;
        font-weight: 400;
        font-size: 1.125rem;
        text-transform: inherit;
    }
    .content-noticies p{
        font-size: .8125rem;
        color: #636363;
        font-weight: 300;
    }
}


/* paginación */
.listingBar a:hover{
    background-color: #fff;
}
.pagination a,
.listingBar a,
.pagination span,
.listingBar span {
    position: relative;
    padding: 10px 10px;
    line-height: 1.25;
    text-decoration: none;
    color: #007BC1;
    background-color: #fff;
    border: 0px !important;
    margin-left: -1px;
    font-size: 16px;
}
.listingBar{
    .active{
        span{
            background-color: white;
            font-weight: 400;
            border-bottom: 2px solid #7F7F7F !important;
        }
    }
    ul{
        width: 100%;

        li {
            span {
                background-color: white;
                border: 0px !important;
            }
        }
    }
}

.nav > li > a:hover,
.contentViews > li > a:hover,
.formTabs > li > a:hover {
    text-decoration: none;
    background-color: #ffffff;
    border-color: #f2f2f2 #f2f2f2 #ccc;
}


/* botones */
.managePortletsLink {
    margin-top: 40px !important;
}
.btn-warning {
    border: 0px;
    color: #fff;
    text-shadow: none!important;
    background-color: #e58906 !important;
    background-image: none!important;
    border-radius: 4px !important;
    filter: none!important;
    box-shadow: none !important;
    margin: 10px 0px;
}
a.btn.btn-warning:hover {
    background-color: #d07a00;
}

.btn-warning:hover {
    border: 0px;
    color: #fff;
    text-shadow: none!important;
    background-color: #e58906;
    background-image: none!important;
    border-radius: 4px !important;
    filter: none!important;
    box-shadow: none !important;
    margin: 10px 0px;
}

.btn-primary, .context {
    color: #313131;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #007bc0;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    padding: 8px;
    margin-right: 8px;
    border-radius: 4px !important;
}
.btn-group button.dropdown-toggle{
    background-color: white !IMPORTANT;
    background: none;
    padding: 15px;
    border-radius: 4px !important;
}
.btn-info, .link-parent{
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,0.25);
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 14px;
    line-height: 1.25;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: manipulation;
    color: #fff;
    background-color: #007BC1;
}
.btn-info:hover,
.link-parent:hover,
.btn-info:active,
.link-parent:active,
.btn-info.active,
.btn-info.selected,
.selected.link-parent,
.contentViews .btn-info.selected:hover,
.contentViews .selected.link-parent:hover,
.active.link-parent,
.btn-info.disabled,
.disabled.link-parent,
.btn-info[disabled],
[disabled].link-parent {
    color: #fff;
    background-color: #00639a;
    border-bottom-color: #ffffff;
}
input.context.btn {
    border: 0px !important;
}
.btn-group a.btn {
    color: #313131;
    background-color: #e4e4e4;
    background-image: none;
    background-repeat: repeat-x;
    border-color: transparent;
    padding: 5px;
    margin-right: 8px;
    border-radius: 4px!important;
}
.btn-group a.btn:hover {
    background-color: #e0e0e0;
}
.btn-success, button.pfg-draft-save {
    border-color: #007bc0;
    color: #ffffff;
    border-bottom: #007bc0;
    background-color: #67931a;
    background-image: none;
    border-radius: 4px!important;
    margin: 10px 0;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
}
#viewlet-below-content {
    margin: 20px 0px;
}
.btn-success:hover {
    border: 0px;
    color: #fff;
    text-shadow: none!important;
    background-color:  #67931a;
    background-image: none!important;
    border-radius: 4px !important;
    filter: none!important;
    box-shadow: none !important;
    margin: 10px 0px;
}
a.btn.btn-success {
    color: #ffffff;
    border: 1px solid #007ac0;
    font-weight: 400;
    margin: 0px 10px;
    background-color: #007ac1;
}

/* Tablas */
body.template-sharing table td {
    padding: 5px !important;
}
#portlet-navigation-tree {
    width: 100%;
    max-width: 235px;
}
dl.portalMessage.info a {
    text-decoration: underline;
    color: #004871;
}
td.mceToolbar.mceLeft.mceFirst.mceLast {
    padding-left: 0px !important;
}
.ploneSkin .mceIframeContainer {
    padding-left: 0px !important;
}
.QueryWidget .previewresults {
    padding: 10px;
}
td select.list-field {
    width: 100%;
}
dl.querywidget.radioWidget {
    width: 150px !important;
    margin-top: 10px;
}
input#form-widgets-IRelatedItems-relatedItems-widgets-query {
    margin-bottom: 0px;
}
.table-striped tbody tr:nth-child(odd) td,
.listing tbody tr:nth-child(odd) td,
.taulaRegistres tbody tr:nth-child(odd) td,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th,
.listing tbody tr:nth-child(odd) th,
.taulaRegistres tbody tr:nth-child(odd) th,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) th {
    background-color: #ffffff;
}
tfoot {
    background-color: #ffffff;
}
.table-bordered th,
.listing th,
.table-bordered td,
.listing td {
    vertical-align: middle;
    padding: 0px;
}
a.btn.btn-danger {
    background-color: #da0000;
}
.btn-group button.dropdown-toggle {
    background-color: transparent !important;
    background: 0 0;
    padding: 15px;
    border-radius: 4px!important;
    border: 0px;
}
th.nosort {
    padding: 10px 5px 10px 5px;
    border: 0px;
}
td.nosort {
    padding: 10px !important;
}
.table-bordered, .listing {
    border-right: 0px !important;
}
table th {
    background-color: #ffffff;
}
tr th .btn-group button {
    padding: 0px !important;
    font-size: 14px !important;
    font-weight: 600 !important;
    color: #636363;
}
table#listing-table {
    border-top: 0px !important;
}
th, td {
    border: 1px solid #ddd !important;
    padding: 0px 0px 0px 15px !important;
}
.table tr:first-child td {
    border-top: 5px solid gray !important;
}
/* Contacto */

.box{
    padding: 18px;
    background-color: #F2F5F6;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 40px;
    border: 0px;
    label {
        color: #4A4A4A;
        font-size: .875rem;
        font-weight: 500;
        cursor: pointer;
        transition: .25s all ease;
    }
    .box-gradient {
        background-image: none;
    }
    .field, .box input.textline-field {
        width: 100%!important;
        margin: auto;
        float: left !important;
    }
    .field {
        margin: 0px 5px 15px 0px!important;
        width: 100%!important;
    }
    #form-widgets-from_address,
    #form-widgets-nombre {
        width: 97% !important;
    }
    input{
        display: block;
        font-size: 16px;
        line-height: 1.25;
        color: #636363;
        background-color: #fff;
        background-image: none;
        border: 1px solid #d1d1d1;
        border-radius: 2px;
        box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
        transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
        padding: 10px 10px !important;
    }
    #form-buttons-send {
        width: auto !important;
        min-width: auto !important;
        color: #fff;
        background-color: #7f7f7f;
        border-color: #7f7f7f;
        border-radius: 2px !important;
        float: right;
        padding: 10px 20px !important;
    }
    input, textarea {
        border-radius: 4px !important;
    }
    .btn, .standalone, input[value^="Cancel"], [type="submit"], .context, .searchButton, button.pfg-draft-save, .link-parent {

        text-shadow: none;
    }
    span.label {
        background-color: transparent;
    }
    .formHelp {
        display: block;
        font-weight: 300;
    }
    input#form-widgets-privacidad-0 {
        float: left;
    }
}
.box-gradient {
    background-image: none !important;
}

/* iframe */
iframe {
    border: 0 !important;
    display: block !important;
    width: 100%!important;
}

/* Login */
.template-login_form{
    #portal-column-content{
        #content {
            width: 300px;
            border: 0px solid #e5e5e5;
            background: #fcfcfd;
            max-width: 650px;
            margin: 0px auto;
            padding: 0;
            margin-bottom: 40px!important;

            #accordionLogin {
                margin: 0 auto !important;

                .form-horizontal{
                    .controls {
                        margin-left: 0px !IMPORTANT;
                    }
                    .control-label {
                        float: left;
                        width: 100%;
                        text-align: left;
                        color: #4A4A4A;
                        font-size: .875rem;
                        font-weight: 500;
                        cursor: pointer;
                        transition: .25s all ease;
                    }
                }
                .controls {
                    input {
                        width: 94%;
                    }
                }
                button.btn.btn-primary {
                    width: 100%;
                }
                .control-group {
                    padding: 10px;
                    border: 1px solid #b2b2b2;
                    border-radius: 6px !important;
                }
                .control-group.margin0 {
                    border: 0px;
                    padding: 0px;
                }
                .accordion-group {
                    margin-bottom: 10px;
                    border: 1px solid #b2b2b2;
                    background: #fcfcfc;
                    margin-top: 20px;
                }
                .accordion-inner {
                    padding: 9px 15px;
                    border-top: 0px solid;
                }
                .accordion-heading .accordion-toggle {
                    display: block;
                    padding: 15px 15px;
                }
            }
        }
    }
}


/* Buscador */

fieldset#search-field {
    margin: 20px 0px 50px 0px;
    width: 100%;
    max-width: 100%;

    input.searchPage{
        width: calc(100% - 146px);
        border: 2px solid #d9d9d9;
        border-radius: 4px!important;
        padding: 10px 0px;
        transition: .25s all ease;
        font-weight: 300;
        font-size: 16px;
        padding: 10px;
    }
    input.searchPage.searchButton.allowMultiSubmit {
        width: 80px!important;
        background: #007bc0;
        border-radius: 2px!important;
        margin-left: 10px;
        text-shadow: none;
        color: #fff;
        border: 0;
        text-align: center;
        border: 2px solid #007bc0;

    }
}

/* Mapa del sitio */

#portal-sitemap ul {
    padding-left: 20px;

    ul.navTree.navTreeLevel2{
        ul, ol {
            padding-left: 24px;
        }
    }
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;

    li{
        list-style-type: disc;
    }
    li li {
        padding: 0px;
    }
    span {
        width: 100%;
        display: block !important;
        max-width: 100% !important;
        font-size: 14px;
        font-weight: 200;
        list-style-type: disc;
    }
    .navTreeLevel3>li {
        list-style-type: circle;
    }
    a img{
        display: none;
    }
    #portal-sitemap ul > li {
        font-size: 18px;
        line-height: 18px;
    }
    ul.navTreeLevel3 li.navTreeItem a span {
        margin-left: 5px !important;
    }
    a {
        color: #007BC1 !important;
    }
    ul.navTree.navTreeLevel3 {
        padding-left: 20px;
    }
    ul.navTree.navTreeLevel2 {
        padding-left: 20px;
    }

}


/* manage */

.template-manage-homeportlets .portletHeader strong:hover{
    background-color: transparent !important;
    border: 0px;

    strong{
        color: #686563 !important;
        display: block;
    }

}
.portletHeader.clearfix.box.box-gradient.padding0 {
    background-color: transparent!important;
}
.portletAssignments .managedPortlet .box {
    padding: 18px;
    background-color: #f2f5f6;
    border: 0;
    border-radius: 4px;
    box-shadow: none;
    margin-bottom: 10px;
    border: 0;
}


/* alerta */
.alert-info, .portalMessage.info {
    border-color: #007bc0;
    color: #007bc0!important;
    background-color: #ffffff!important;
    border-radius: 4px!important;
    margin: 20px 0px !important;
    padding: 10px 10px !important;
    text-shadow: none;
    font-weight: 600;
    font-size: 14px;
}
.alert .close, .portalMessage .close {
    position: relative;
    top: 0;
    right: 5px;
    line-height: 18px;
    text-shadow: none;
    color: #007ac0;
    opacity: 1;
}

h2.portletHeader {
    display: block;
    width: 100%;
    position: relative;
}
.span4 .portletWrapper .portlet h2:after {
    display: none;
}
.listing tbody tr:nth-child(odd) td,
.listing tbody tr:nth-child(odd) th,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) td,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) th,
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th,
.taulaRegistres tbody tr:nth-child(odd) td,
.taulaRegistres tbody tr:nth-child(odd) th {
    background-color: #f9f9f9;
}
th.nosort {
    border: 0px !important;
    padding: 10px !important;
}

/* IMG del header, icono */

.logoPropi {
    height: 50px;
    display: table-cell;
    vertical-align: middle;
    min-width: 49px;
    padding: 5px 0;
}

/* Listado Eventos */
article.vevent {
    list-style: none;
    border-top: 1px solid #D1D1D1;
    border-bottom: 1px solid #D1D1D1;
    margin-bottom: -1px;
    display: block;
    position: relative;
    transition: all 1s ease;
    padding: 18px 0;

    .event_listing section {
        float: left;
        width: 100%;
    }

    p.description,
    ul.horizontal.metadata {
        font-weight: 300;
        margin: 0 0 10px;
        color: #4A4A4A;
        font-size: 16px;
    }
    .documentByLine {
        font-weight: bolder;
        color: #636363;
        font-size: 16px;
    }
    span.summary {
        color: #007BC1;
        margin-top: 12px;
        font-size: 1.125rem;
        font-weight: 500;
        padding-right: 36px;
    }
    abbr[title] {
        border-bottom: 0px;
    }
    ul.horizontal.metadata {
        padding-left: 20px;
    }
}

/* Eventos */
.list-agenda{
    ol.row .card {
        height: 250px;
        margin-bottom: 24px;
        
         .event-title {
            font-weight: 300;
            margin-bottom: 20px;
            color: #4a4a4a;
            font-size: 1.125rem;
            padding: 20px 20px!important;
            margin: 0!important;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            display: block;
            height: 60px;
        }
        .event-time {
            background-image: linear-gradient(89deg, #00BCD4 0%, #007bc1 100%) !important;
        }
    }
    a.card:hover {
        box-shadow: 0 1px 2px rgba(0,0,0,0.05), 0 5px 10px rgba(0,0,0,0.1), 0 10px 20px rgba(0,0,0,0.05);
        text-decoration: none;
        background-color: #F6F7F7;
        transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
        -webkit-font-smoothing: subpixel-antialiased;
    }
    a.card:hover span.event-time::after {
        opacity: .9;
        content: "\f061";
        border: 1.5px solid  #007bc1;
        position: absolute;
        font-size: 1.125rem;
        left: calc(50% - 20px);
        margin-top: 4px!important;
        width: 38px;
        height: 28px;
        text-align: center;
        color: #007bc1;
        background: rgba(255,255,255,.8);
        z-index: 0;
        transition: all .5s ease;
        border-radius: 50%!important;
        padding-top: 10px;
        top: 105px;
        font-family: "Font Awesome 5 Free";
    }
}
.list-agenda ol.row .card .event-time {
    top: calc(50% - 67px - 29px);
}

.documentEditable{
    dl.event.summary.details {
        border: 0px;
        width: 100%;
        max-width: 100%;
        background-color: #F2F5F6;
    }
    dt, dd {
        padding: 20px !important;
        border-bottom: 2px solid white;
    }
}

/* Listado de Noticias */

ul.list-portlet {
    img.image-noticies {
        display: none;
    }
    li{
        width: 100%;
        min-width: 100%;
        margin: 20px;
        border-bottom: 1px solid #D1D1D1;
        border-top: 1px solid #D1D1D1;
    }
    span.summary {
        color: #007bc1;
        font-weight: 500;
        font-size: 1.125rem;
        text-transform: inherit;
    }
    .content-noticies p {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.25;
        color: #636363;
    }
}

/* Noticias */
.documentEditable{
    #content-core {
        border-top: 1px dotted #ccc;
        padding-top: 20px;
        -webkit-columns: 350px 1;
        -moz-columns: 350px 1;
        columns: 350px 1;
        -webkit-column-gap: 2em;
        -moz-column-gap: 2em;
        column-gap: 2em;
        color: #4a4a4a;
        float: left;
        padding-top: 20px;
        padding-bottom: 20px;

    }

    figure.newsImageContainer {
        float: left;
        width: 33.33% !important;
        margin: 0px 20px 0px 0px!important;
        border: 0px;
    }

    img.newsImage {
        max-height: 100%;
        max-width: 100%;
        width: 100%;
    }

    div#content-core {
        float: left;
        padding: 0px;
    }
    p {
        font-size: 16px;
        font-weight: 300;
    }
}
.box,
.box-inverse,
.template-manage-homeportlets .portletHeader:hover,
.portaltype-packet .estudis .caixa3,
#category.documentByLine,
#relatedItemBox {
    padding: 18px !important;
    margin-bottom: 20px;
    background-color: #f6f7f7;
    border: 0px;
}

/* Archivo */
div#plone-document-byline {
    margin: 10px 0px;
}
.documentEditable{
    #content-core {
        margin: 10px 0px;
        padding: 10px 0px !important;
    }
}
/* Collage */
.portaltype-collage{
    td, th {
        border: 0px;
        padding: 0 0 0 15px!important;
    }
    .documentEditable p.m {
        font-size: 16px !important;
    }
}
/* Ficha de grado */
.section-recerca{
    .lead-small {
        border: 0px  !important;
        background-color: #007ac1;
        text-shadow: none;
        color: white;
        font-weight: 500 !important;
        padding: 20px;
    }
    .well,
    .well-inverse {
        background-color: #f2f5f6;
        border: 0px;
        padding-bottom: 40px;
    }
    form#solicita-informacio {
        background-image: none;
    }
    .beautytab li.formTab.active a {
        border-bottom: 2px solid;
        background: none;
    }
    .beautytab li.formTab a {
        border-style: solid none solid solid;
        border-color: #D9D9D9;
        display: -webkit-box;
        padding: 0;
        height: 45px;
        background-color: #f7f7f7;
        border-width: 1px 0 0 0;
        background: none;
        text-decoration: none;
        line-height: 12px;
        border-bottom: 2px solid #d9d9d9;
    }
    .beautytab > ul li:first-child a span {
        border: 1px;
    }
    #contacte_submit {
        background-image: none;
        width: 30% !important;
        float: right !important;
        padding: 4px 6px !important;
        margin-bottom: 4px !important;
        border-radius: 4px !important;
        font-size: 16px;
    }
    .beautytab li.formTab.active a {
        background: 0 0;
        border: 1px solid #cccccc;
        border-bottom: 2px solid;
    }
    .beautytab li.formTab a:hover {
        background: none;
        background-color: #f2f5f6;
    }
    .documentEditable dd, .documentEditable dt {
        padding: 0px!important;
    }
    a#tab-anchor-organization {
        border: 1px solid;
        border-color: #d9d9d9;
    }
}


/* Plan de estudio de grado */
.div-studies .tab-content .table-bordered {
    border-right: 0!important;
    border-top: 0px !important;
}
table.table.table-condensed thead.hide_mobile tr,
table.table.table-condensed thead.hide_mobile td,
table.table.table-condensed tbody tr,
table.table.table-condensed tbody td{
    padding: 10px !important;
}
.documentEditable p {
    font-size: 14px;
    font-weight: 500;
    padding: 5px 0px !important;
}
#div-tabs.div-studies, #div-tabs.studies {
    border-width: 0px !important;
    margin-top: 0px;
    width: calc(100% - 1px) !important;
}
.section-recerca .lead-small {
    border: 0!important;
    background-color: #007ac1;
    text-shadow: none;
    color: #fff;
    font-weight: 500!important;
    padding: 20px !important;
}
th.nivell {
    background-color: #666;
    border-right: 0 !important;
    color: #fff;
    padding: 15px !important;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
}
#titols-columnes th{
    padding: 15px !important;
    font-weight: 700;
    font-size: 14px;
    font-family: sans-serif;
}
table.table.table-condensed tr td {
    padding-left: 15px !important;
    padding-right: 15px !important;
}
.section-recerca .beautytab li.formTab a {
    border-style: solid;
}
#pla-estudis,
.tab-pane.hide_only_curriculum {
    border: 1px solid #ccc !important;
    border-top: 0 !important;
    padding: 20px 10px 10px 10px !important;
}
.btn, .standalone, input[value^="Cancel"], [type="submit"], .context, .searchButton, button.pfg-draft-save, .link-parent {
    text-shadow: none;
    background-image: none !important;
    border-radius: 4px !important;
    background-color: #f2f5f6;
}
a#tab-anchor-academic-information {
    border-left: 1px solid #cccccc !important;
}
#content-nucli {
    font-size: 14px !important;
}
td.legendColorBox {
    width: 20px !important;
    min-width: 0px !important;
    max-width: 20px !IMPORTANT;
}
/* Formulari */
body.template-quickedit.portaltype-formfolder{
    .header h3 {
        font-size: 17px;
        height: 20px;
        margin: 0px;
        overflow: hidden;
        padding: 8px 0px;
        color: #4a4a4a;
        background-color: white;
    }
    #pfgWidgetWrapper {
        background: #fff !important;
    }
    #allWidgets h2.current,
    #pfgWidgetWrapper .fields-header,
    #pfgWidgetWrapper .fieldset-header,
    #pfgWidgetWrapper .actions-header {
        cursor: default;
        font-size: 14px;
        text-align: left;
        color: #4a4a4a;
        font-weight: 400;
        padding-top: 7px;
        padding-bottom: 0px;
    }
    h4.widget-header,
    h4.widget-header-helper,
    .draggable .dragginghook {
        background-color: #cccccc;
    }
    #fieldWidgets, #fieldsetWidgets,
    #actionWidgets {
        padding: 5px 0px;
    }
    div.widget {
        width: 100%;
    }
    .draggable.draggingHook.editHook.qechild {
        padding: 0px !important;
        text-align: center;
    }
    div.theader div, tr.theader th {
        background-color: #fff;
        width: 90% !important;
    }
    .pfg-form.formid-formulari-autoritzacio-imp .theader div:first-child,
    .pfg-form.formid-formulari-autoritzacio-imp .theader div:last-child,
    .editHook.qechild:last-child {
        width: 5% !important;
    }
    #archetypes-fieldname-dades-del-curs {
        width: 80%;
        font-size: 10px;
    }
    div.theader div, tr.theader th {
        border: 0px;
        color: #666;
        text-align: left;
        line-height: 2em;
        padding: 0px;
        vertical-align: top;
        font-weight: bold;
        background-color: #fff;
        width: 80% !important;
    }
    .pfg-form {
        width: 80%;
        float: left;
    }
    .field.fsbegin,
    .field.ArchetypesStringWidget,
    .field.ArchetypesSelectionWidget,
    .field.ArchetypesBooleanWidget,
    .qechild.action,
    .field.ArchetypesCalendarWidget,
    .field.PFG-RichLabel,
    .field.ArchetypesCaptchaWidget{
        width: 80%;
        margin: 0px !important;
    }
    .draggable.qechild {
        width: 4% !important;
    }
    #pfgThanksEdit th, #pfgThanksEdit td {
        padding: 0.5em 1em !important;
    }
    .editHook.qechild:last-child,
    .pfg-form.formid-formulari-autoritzacio-imp div#pfg-fieldwrapper .theader div:first-child,
    .pfg-form.formid-formulari-autoritzacio-imp div#pfg-fieldwrapper .theader div:last-child{

    }
}

/* Vista estándar */

.template-listing_view{

    #content dt {
        font-weight: normal !important;
        margin-top: 0px;
    }
    .documentEditable dt {
        padding: 10px 0px !important;
    }
}

/* Álbum */

body.template-album_view{
    div.photoAlbumEntry {
        text-align: center;
        float: left;
        height: auto !important;
        border: 0px;
        display: block;
        line-height: 18px;
        margin: 5px;
        padding: 0px !important;
    }
}

/* VISTA DE RESUMEN  */

body.template-summary_view{
    article.tileItem.visualIEFloatFix{
        h2.tileHeadline a {
            font-weight: 400;
            font-size: 16px;
        }
    }
}

/* VISTA TUBULAR */

body.template-tabular_view{
    #content-core {
        width: 100%;
    }
    .listing tbody tr,
    .listing tbody td {
        padding: 10px !important;
    }
}

/* VISTA TUBULAR */
body.template-view{

    .nav-tabs,
    .contentViews, .configlets {
        border-bottom: 0px;
    }
}


/* VISTA TUBULAR */
body.template-edit{
    #content-core {
        width: 100%;
    }
}

/* Categorías noticias */

#portlet-navigation-tree {
    border-width: 0px 0 1px 0;
}

ul#portlet-navigation-tree li{
    width: 100%;
}

.portlet.portletRss{
    .list-portlet li {
        .smaller {
            color: #666;
            display: list-item;
            white-space: nowrap;
        }
    }
}

/* NOTÍCIAS */

.portlet-noticies{
    .content-noticies p{
        margin: 0px;
    }
    .smaller {
        margin: 0px;
    }
    .noticia-full-2cols{
        .content-noticies{
            padding-bottom: 10px !important;
        }
        h3,p {
            margin: 10px !important;
        }
    }
    .row-fluid{
        margin-top: 10px;
    }
    .portlet-footer {
        background: #f2f2f200;
        display: block;
        padding: 5px 10px 7px;
        border-top: 1px solid #fff;
        position: initial;
        font-size: 92.3076923%;
    }
    ul.list-portlet {
        li {
            margin-bottom: 5px !important;
            border-top: 0px !important;
            margin-top: -5px !important;
            margin-left: 0px !important;

            .smaller {
                color: #666;
                white-space: nowrap;
                width: 100% !important;
                display: inherit;
            }
        }
    }
}

/* Noticias ampliado, imagenes, etc*/

.portlet-ampliat{
    li.clearfix {
        h3:first-child {
            margin-top: 20px;
        }
        h3{
            a {
                font-size: 16px;
            }
        }
    }
    .smaller {
        font-size: 85%;
        margin: 2px 0px;
    }
    .content-noticies p {
        font-size: 14px;
        font-weight: 300;
        line-height: 1.25;
        color: #636363;
        padding: 0px !important;
    }
    .noticies-full+h3 {
        margin-top: 0px;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

ul.list-portlet {
    img.image-noticies {
        display: block;
        max-width: 50% !important;
    }
    .content-noticies p {
        font-size: 14px;
    }
}

.portlet.portletRecent{
    .portlet-footer{
        display: unset !important;
    }
    time.smaller {
        display: block;
    }
    li.portletItem.odd,
    li.portletItem.even {
        margin-left: 0px !important;
    }
}

/* Calendario */

.portletCalendar{
    .ploneCalendar td,
    .ploneCalendar tr,
    .ploneCalendar th{
        background: #ffffff;
        border: 0px !important;
    }
    .ploneCalendar td:not(:empty){
        background: #ffffff !important;
    }
    h2 {
        border-bottom: 0px;
        color: #023470;
    }
    table th {
        font-weight: 300;
        font-size: 16px;
    }
    td.event {
        color: #007BC1 !important;
        font-weight: bold;
        font-size: 14px;
    }
    th {
        text-transform: uppercase;
    }
    td.event.cal_prev_month,
    td.event.cal_next_month {
        font-size: 0px !important;
    }
    .ploneCalendar td.today {
        font-weight: bold;
        color: white !important;
        background-color: #007BC1 !important;
        text-shadow: none;
        width: 28px;
        height: 21px;
        position: relative;
        display: inline-block;
        border-radius: 50% !important;
        margin-left: 0px;
        padding-left: 0px !important;
        padding-top: 6px !important;
        padding-bottom: 0px !important;
        margin-left: 12px;
    }
}

/* Encuesta */

.votePortlet.vote-container {
    .documentEditable dd, .documentEditable dt {
        border-bottom: 2px solid #fff;
        width: 100%;
        min-width: 300px !important;
    }
}

/* Encuesta */

.legend{
    table {
        td.legendColorBox {
            border: 0px;
        }
        td.legendLabel {
            border: 0px;
        }
    }
}

/* Porlet general */

.portlet{

    a.portlet-footer {
        display: table;
        position: inherit;
    }
    ul.list-portlet li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

.portlet.portletStaticText.portlet-static-portlet-estatico-con-contorno{
    .documentEditable {
        p{
            font-size: 14px;
            font-weight: 300;
        }
    }
}

.documentEditable #content-core {
    border-top: 0px;
}

button.btn,
button.standalone,
button[type="submit"],
button.context,
button.searchButton,
button.pfg-draft-save,
button.link-parent,
input[type="submit"].btn,
input[type="submit"] {
    padding: 5px !IMPORTANT;
    border: 1px solid #c1c1c1;
}

input#sharing-search-button {
    margin-left: 5px;
    padding: 4px !important;
}

/* vista rota manage home porlets */
body.template-manage-homeportlets{
    .portletHeader.clearfix.box.box-gradient.padding0:hover{
        margin-bottom: 10px !important;
    }
    button.btn.btn-mini.btn-success,
    button.btn.btn-mini.btn-danger,
    button.btn.btn-mini {
        border: 0px;
        margin: 5px;
    }
    button.btn.btn-mini.btn-success:hover,
    button.btn.btn-mini.btn-danger:hover,
    button.btn.btn-mini:hover{
        border: 0px;
    }
    .portletHeader strong:hover + span {
        display: block;
    }
    .portletHeader strong {
        display: inline-block;
        padding: 2px 0 0 4px;
        overflow: hidden;
        text-overflow: unset;
        white-space: nowrap;
        width: 100%;
    }
    .portletHeader strong:hover {
        padding: 0px !important;
        margin: 0px !important;
        
        .clearfix.box.box-gradient.padding0:hover strong {
            color: #636363 !important;
        }
    }
    .portletHeader strong {
        padding: 0px;
        display: block;
        color: #007bc1!important;
    }
    .box:hover{
        margin-bottom: 10px !important;
    }
    .portletHeader.clearfix.box.box-gradient.padding0 {
        background-color: transparent!important;
        padding: 5px 10px !important;
        border: 1px solid #b8c6c8;
        border-radius: 4px !important;
        margin-bottom: 10px !important;
    }
    button.btn.dropdown-toggle {
        width: 100%;
        text-align: left;
        border: 1px solid #b8c6c8;
    }
    span.caret {
        position: absolute;
        right: 10px;
    }
    .btn-group.open ul.dropdown-menu {
        width: 100%;
    }
    h2.liniaDalt {
        padding-top: 20px;
    }
    button.btn.btn-mini.btn-success {
        background-color: #5e8618 !important;
    }
    button.btn.btn-mini.btn-danger {
        background-color: #ff2c2c !important;
    }
    .input-prepend.pull-right.clearfix input.editable {
        text-align: center;
        width: 20px !important;
        padding: 4px 2px;
    }
    form.portlet-action button.btn.btn-mini{
        background-color: #d4d4d4;
    }
    .container {
        width: 100% !important;
    }
}
.portletAssignments .managedPortlet .box{
    margin-bottom: 0px !important;
}

/* vista de serveis externs tabla */
body.template-document_view{
    td, th {
        border: 0px !important;
        padding: 0px !important;
    }
    .box{
        padding: 18px;
        margin-bottom: 20px;
        background-color: #ffffff;
    }
}

/* responsive */

@media only screen and (max-width: 979px){
    nav#portal-breadcrumbs {
        background-color: #f2f5f6;
        padding: 5px;
        margin: 15px 0px;
    }
    #titol-menu-2-boto {
        width: 40px;
        float: right;
        margin-bottom: 30px !important;
    }
    #eines-menu-boto {
        width: 40px;
    }
    ul#portlet-navigation-tree li a {
        padding: 10px 40px !important;
        margin-bottom: 0px;
        max-width: 100%;
    }
    .subnavbar .nav-list .active>div>a:after, .subnavbar .nav-list .selected>div>a:after, .subnavbar .nav-list a:hover:after {
        top: 10px!important;
        right: 40px!important;
    }
    #portlet-navigation-tree.in {
        margin-bottom: 60px;
    }
    #eines-mov {
        text-align: left;
    }
}


table.amarillo {
    color: #000000 !important;
    background-color: #ffe2d4 !important;
    padding: 20px !important;
    border: 1px solid #d75a20 !important;
    border-radius: 4px !important;
}




/* REVISAR */
dl.portlet.votePortlet.vote-container{
    input[type="radio"], 
    input[type="checkbox"] {
        margin-top: 0px;
    }
}


.portlet-ampliat .smaller {
    margin: 2px 10px;
}