@charset "UTF-8";
/* Rasgos generales */
/* line 3, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body {
  font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #636363;
  background-color: #fff;
}

/* line 11, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
label {
  font-weight: 500;
}

/* line 14, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a {
  color: #007BC1;
  text-decoration: none;
}

/* line 18, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
select {
  border: 1px solid #b2b2b2;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px !important;
  margin-top: 6px;
}

/* line 25, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
li.active a {
  color: #007bc0 !important;
  font-weight: 600;
}

/* line 29, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.nav-tabs li a {
  border-left: 0px !important;
  border-top: 0px !important;
  border-right: 0px !important;
  background-color: white !important;
  background: none !important;
}

/* line 36, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.nav-tabs li.active {
  border-bottom: 2px solid #007ac1 !IMPORTANT;
}

/* line 39, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
li#contentview-view a {
  border: 0px;
  font-weight: bold;
  background-color: white;
  background-image: none;
}

/* line 45, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-homepage nav#portal-breadcrumbs {
  display: none;
}

/* line 48, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable p.lead-small {
  color: #ffffff;
  text-shadow: none;
  background-color: #007bc0;
  border: 0px;
  padding: 20px !important;
}

/* line 55, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.configlets > li > a:hover,
.contentViews > li > a:hover,
.formTabs > li > a:hover,
.nav > li > a:hover {
  text-decoration: none;
  border: 0px;
  color: #007ac1;
}

/* line 63, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.configlets > li > a,
.contentViews > li > a,
.formTabs > li > a,
.nav > li > a {
  text-decoration: none;
  border: 0px;
  color: #4a4a4a;
}

/* line 71, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#edit-bar {
  border-bottom: 0px;
}

/* line 74, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.document-heading {
  margin: 0px 0 36px 0;
}

/* line 77, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
button#contacte_submit {
  margin-top: 20px;
}

/* line 80, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
h1.documentFirstHeading {
  font-size: 1.5rem;
  color: #4a4a4a;
  background: 0 0;
  border-bottom: 3px solid #b8c6c8;
  margin: 32px 0 12px 0;
  padding: 0 0 12px 0;
  font-weight: 500;
}

/* line 89, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
h2.row-fluid, h2.liniaDalt {
  font-size: 1.5rem;
  color: #636363;
  position: relative;
  overflow: hidden;
  padding: 6px 0;
  margin-top: 0;
}

/* line 97, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentDescription {
  font-size: 107.692308%;
  font-weight: 400;
  color: #616161;
  margin-bottom: 18px;
}

/* line 103, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
[class^="span"] {
  margin-bottom: 0px;
}

/* line 107, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.investigadors.pull-left li {
  margin-bottom: 10px;
}

/* line 111, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.btn.btn-small.btn-block {
  display: inline-block;
  background: none !important;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 4px !important;
  background-color: #efefef !important;
  width: 240px;
  text-align: center;
  margin: auto !important;
}

/* line 123, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
input#form-buttons-save {
  background-color: #007bc0;
  padding: 5px;
  color: white;
}

/* line 128, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn,
.context,
.link-parent,
.searchButton,
.standalone,
[type=submit],
button.pfg-draft-save,
input[value^=Cancel] {
  text-shadow: none;
  background-image: none !important;
  border-radius: 4px !important;
  background-color: #f2f5f6;
  padding: 5px;
}

/* line 143, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.contentViews .nav-list > .selected:hover > a,
.formTabs > li > a.selected,
.formTabs > li > a.selected:hover,
.nav-list > .active > a,
.nav-list > .active > a:hover,
.nav-list > .selected > a,
.nav-list > .selected > a:hover {
  color: #4a4a4a;
  background-color: #ffffff;
  border-radius: 0px !important;
  text-shadow: none !important;
  font-size: 14px;
  border-bottom: 2px solid #007bc0;
}

/* line 157, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.nav-tabs > li > a,
.contentViews > li > a,
.configlets > li > a,
.nav-pills > li > a,
.formTabs > li > a {
  margin-right: 4px !important;
}

/* line 164, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.selected.required:after {
  color: #a62e1f;
  margin-left: 5px;
}

/* line 168, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after {
  right: 30px !important;
}

/* line 175, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-folder_contents table.table.table-condensed tbody td,
body.template-folder_contents table.table.table-condensed tbody tr,
body.template-folder_contents table.table.table-condensed thead.hide_mobile td,
body.template-folder_contents table.table.table-condensed thead.hide_mobile tr {
  padding: 0px 10px !important;
}

/* line 183, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.event_listing section article.vevent:first-child {
  border-top: 0px !important;
}

/* line 187, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul a:before, .subnavbar .nav-list .selected ul a:before {
  display: none;
}

/* line 191, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.anyipsum-form-header {
  font-size: 1.125rem;
  color: #7F7F7F;
}

/* line 196, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-news_listing ul.list-portlet img.image-noticies {
  max-width: 25% !important;
}

/* line 200, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-newsitem_view .documentEditable p {
  font-size: 1.125rem;
  color: #7F7F7F;
  font-weight: inherit;
  padding: 0px 0 !important;
  margin: 0px !important;
}

/* line 208, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
dd.margin0 {
  padding-top: 0px !important;
}

/* line 211, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
div#content div#content-core {
  width: 100%;
}

/* line 214, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul,
.subnavbar .nav-list .selected ul {
  border-top: 0px solid #b2b2b2;
}

/* line 219, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list {
  border: 0px !important;
}

/* line 222, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.portaltype-packet .tab-content .hide_mobile a .hide_pdf img {
  width: 100%;
}

/* line 226, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
th#foldercontents-order-column {
  width: 100px;
}

/* line 229, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.link-parent {
  color: grey;
}

/* line 232, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.link-parent:before {
  filter: brightness(0.5);
}

/* line 235, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.link-parent:before {
  filter: brightness(0.5);
}

/* line 238, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.multipleSelectionWidget dt {
  width: 170px;
  height: 1.5em;
  overflow: hidden;
  padding: 0px !important;
}

/* line 244, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable .QueryWidget dt {
  padding: 0px !important;
}

/* line 247, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
dl.multipleSelectionWidget, #content dl.multipleSelectionWidget {
  margin: 0;
  display: block;
  width: 175px;
  float: left;
  margin-right: 0.5em;
  border: 1px solid #b2b2b2;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px !important;
  margin-top: 6px;
}

/* line 259, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.ploneSkin table.mceToolbar,
.ploneSkin tr.mceFirst .mceToolbar tr td,
.ploneSkin tr.mceLast .mceToolbar tr td {
  border: none !important;
  padding: 0 !important;
}

/* ADMINISTRAR PORLET DEBAJO DE LA BARRA DE NAVEGACIÓN VERTICAL */
/* line 266, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.btn.btn-small.btn-block {
  width: 100%;
}

/* Cabezal */
/* line 273, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
header#portal-header .container {
  border-top: 0px;
  max-width: 100% !important;
  width: 100% !important;
}
/* line 278, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
header#portal-header .clearfix {
  margin: 0 auto;
  max-width: 1170px;
  padding: 10px 20px;
}

/* Breadcrum  */
/* line 286, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
div#viewlet-above-content {
  display: none;
}

/* line 290, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-breadcrumbs {
  background-color: #F2F5F6;
  padding: 5px;
}
/* line 293, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-breadcrumbs .container {
  width: 1170px;
  padding: 15px;
}
/* line 297, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-breadcrumbs ol.breadcrumb li a {
  font-weight: 300;
  line-height: 1.25;
  color: #636363;
}
/* line 302, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-breadcrumbs li.active a {
  color: #007BC1;
}
/* line 305, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-breadcrumbs .breadcrumb .active {
  font-weight: 300;
}

/* Menú superior secundario*/
/* line 312, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-globalnav {
  background-color: #ffffff;
  max-width: 100% !important;
  width: 100% !important;
}
/* line 316, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-globalnav .container {
  margin: auto;
}
/* line 319, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-globalnav #portal-header:not(.no-image) + #portal-globalnav .navbar-inner {
  margin-top: 0px;
  margin: auto;
}

/* Títulos de Portlet */
/* line 326, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .portlet h2:after {
  /*    
      content: "";
      position: absolute;
      background: #d1d1d1;
      height: 1px;
      box-shadow: 1000px 0 0 -1000px #d1d1d1;
      width: 120px !important;
      top: 50%;
      margin-left: 20px;
  
      :after {
          content: "";
          position: absolute;
          margin-left: 12px;
          background: #d1d1d1;
          height: 1px;
          box-shadow: 1000px 0 0 -1000px #d1d1d1;
          width: 85%;
          top: 50%;
      }
  */
}

/* line 349, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.large-icon.icon-news, .large-icon.icon-news-item {
  font-size: 1rem;
  top: .4rem;
  position: absolute;
  right: 0;
  z-index: 1;
  background-position: -37px -252px;
}

/* line 359, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.titling-line-container .titling-line::after {
  content: "";
  position: absolute;
  margin-left: 12px;
  background: #d1d1d1;
  height: 1px;
  box-shadow: 1000px 0 0 -1000px #d1d1d1;
  width: 100%;
  top: 50%;
}

/*  Noticias*/
/* line 378, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .portlet > .pad {
  border-bottom: 0px;
}
/* line 381, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .portlet > .pad h2 {
  width: 100%;
  border-bottom: 0px;
}
/* line 384, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .portlet > .pad h2::after {
  content: "";
  position: absolute;
  margin-left: 12px;
  margin-right: 12px;
  background: #d1d1d1;
  height: 1px;
  box-shadow: 1000px 0 0 -1000px #d1d1d1;
  top: 50%;
}
/* line 397, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .noticies-full + h3 {
  font-size: 1.125rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-top: 15px;
  padding-left: 10px !important;
  padding-right: 10px !important;
}
/* line 407, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .content-noticies p {
  margin: 10px;
  font-weight: 300;
  font-size: .8125rem;
  color: #636363;
}
/* line 413, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .content-noticies hr {
  border-top: 0px solid #b2b2b2;
  border-bottom: 0px solid #fff;
}
/* line 419, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper a:hover {
  text-decoration: none;
}
/* line 423, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .noticia-full-2cols {
  background-color: #F2F5F6;
  margin-bottom: 20px;
}
/* line 426, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .noticia-full-2cols .noticies-full {
  padding: 0px;
}
/* line 429, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .noticia-full-2cols:hover {
  transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
}
/* line 432, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletWrapper .noticia-full-2cols:active {
  transform: perspective(1px) scale(1.00775, 1.00775) translateZ(0px);
}

/* Header */
/* line 441, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-header {
  border-top: 0px !Important;
}
/* line 445, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-header h1.pull-left img {
  height: 100%;
  width: 320px;
}
/* line 450, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-header + #portal-globalnav #menu-1 ul {
  border: 0px !important;
}
/* line 453, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-header .clearfix {
  margin: 0 auto;
  max-width: 1140px;
  padding: 20px;
}

/* line 461, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-globalnav .container {
  max-width: 1140px !important;
}

/* line 468, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-globalnav .state-published {
  border-bottom: 0px;
}
/* line 471, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-globalnav #portal-header.no-image + #portal-globalnav #menu-1 ul {
  border-top: 0px;
}

/* line 476, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.nav li {
  border: 0px !important;
}

/* line 481, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
nav#portal-globalnav .container {
  max-width: 1200px !important;
}

/* Porlet de navegación del sidebar */
/* line 491, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul#portlet-navigation-tree li a {
  padding: 15px 20px !important;
  border: 0px !important;
  background-color: #F2F5F6 !important;
  margin-bottom: 5px !important;
}
/* line 499, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul#portlet-navigation-tree li.navTreeItem a:hover:after,
ul#portlet-navigation-tree li.navTreeItem a.active > div > a:after,
ul#portlet-navigation-tree li.navTreeItem a.selected > div > a:after {
  top: 18px;
  right: 10px;
}

/* line 509, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list a:hover:after,
.subnavbar .nav-list .active > div > a:after,
.subnavbar .nav-list .selected > div > a:after {
  right: 10px;
  top: 18px;
}

/* line 516, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul a:before,
.subnavbar .nav-list .selected ul a:before {
  top: 13px;
  left: 5px;
}

/* line 522, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class^="contenttype-"] span:after,
.subnavbar .nav-list .active ul a[class*=" contenttype-"] span:after,
.subnavbar .nav-list .selected ul a[class*=" contenttype-"] span:after {
  right: 50px;
  top: 20px;
}

/* line 529, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.state-published span {
  padding-right: 20px !important;
  display: block;
}

/* line 533, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul#portlet-navigation-tree li.navTreeItem a.active > div > a:after,
ul#portlet-navigation-tree li.navTreeItem a.selected > div > a:after,
ul#portlet-navigation-tree li.navTreeItem a:hover:after {
  right: 10px !important;
}

/* line 538, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active ul a.state-visible {
  color: #666666;
}

/* line 541, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list a.state-visible:hover:after,
.subnavbar .nav-list .active .visible-draft:after,
.subnavbar .nav-list .selected .visible-draft:after {
  background-color: #007bc0;
}

/* line 547, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.subnavbar .nav-list .active > div > a:after,
.subnavbar .nav-list .selected > div > a:after,
.subnavbar .nav-list a:hover:after {
  top: 20px !important;
  right: 10px !important;
}

/* footer */
/* line 554, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#bandaLogos {
  border-top: 0px !important;
  background: #F6F7F7;
}
/* line 558, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#bandaLogos .container {
  border-top: 0px !important;
}
/* line 561, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#bandaLogos .llistatLogos img {
  max-height: 100px;
  border-radius: 50px !important;
}

/* line 566, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#peu {
  background: #F6F7F7;
  border-top: 0px !important;
  padding: 20px;
}
/* line 571, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#peu .container {
  border-top: 0px !important;
}

/* Més notícies */
/* line 580, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet {
  border-bottom: 0px;
}
/* line 583, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet li:first-child {
  width: 98%;
  margin-right: 0px;
  float: left;
  height: auto;
}
/* line 589, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet li {
  width: 48%;
  margin: 0px 8px !important;
  padding-top: 20px !important;
  float: left;
}
/* line 595, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet img.image-noticies {
  max-width: 170px !important;
  width: 100%;
  height: 170px;
  object-fit: cover;
}
/* line 601, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet span.summary {
  color: #007BC1;
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: inherit;
}
/* line 607, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet .content-noticies p {
  font-size: .8125rem;
  color: #636363;
  font-weight: 300;
}

/* paginación */
/* line 616, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.listingBar a:hover {
  background-color: #fff;
}

/* line 619, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.pagination a,
.listingBar a,
.pagination span,
.listingBar span {
  position: relative;
  padding: 10px 10px;
  line-height: 1.25;
  text-decoration: none;
  color: #007BC1;
  background-color: #fff;
  border: 0px !important;
  margin-left: -1px;
  font-size: 16px;
}

/* line 635, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.listingBar .active span {
  background-color: white;
  font-weight: 400;
  border-bottom: 2px solid #7F7F7F !important;
}
/* line 641, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.listingBar ul {
  width: 100%;
}
/* line 645, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.listingBar ul li span {
  background-color: white;
  border: 0px !important;
}

/* line 653, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.nav > li > a:hover, .contentViews > li > a:hover, .configlets > li > a:hover, .formTabs > li > a:hover {
  text-decoration: none;
  background-color: #ffffff;
  border-color: #f2f2f2 #f2f2f2 #ccc;
}

/* botones */
/* line 661, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.managePortletsLink {
  margin-top: 40px !important;
}

/* line 664, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-warning {
  border: 0px;
  color: #fff;
  text-shadow: none !important;
  background-color: #e58906 !important;
  background-image: none !important;
  border-radius: 4px !important;
  filter: none !important;
  box-shadow: none !important;
  margin: 10px 0px;
}

/* line 675, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.btn.btn-warning:hover {
  background-color: #d07a00;
}

/* line 679, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-warning:hover {
  border: 0px;
  color: #fff;
  text-shadow: none !important;
  background-color: #e58906;
  background-image: none !important;
  border-radius: 4px !important;
  filter: none !important;
  box-shadow: none !important;
  margin: 10px 0px;
}

/* line 691, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-primary, .context {
  color: #313131;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #007bc0;
  background-image: none;
  background-repeat: repeat-x;
  border-color: transparent;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px !important;
}

/* line 702, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-group button.dropdown-toggle {
  background-color: white !IMPORTANT;
  background: none;
  padding: 15px;
  border-radius: 4px !important;
}

/* line 708, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-info, .link-parent {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.25;
  border-radius: 2px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  color: #fff;
  background-color: #007BC1;
}

/* line 731, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-info:hover,
.link-parent:hover,
.btn-info:active,
.link-parent:active,
.btn-info.active,
.btn-info.selected,
.selected.link-parent,
.contentViews .btn-info.selected:hover,
.contentViews .selected.link-parent:hover,
.active.link-parent,
.btn-info.disabled,
.disabled.link-parent,
.btn-info[disabled],
[disabled].link-parent {
  color: #fff;
  background-color: #00639a;
  border-bottom-color: #ffffff;
}

/* line 749, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
input.context.btn {
  border: 0px !important;
}

/* line 752, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-group a.btn {
  color: #313131;
  background-color: #e4e4e4;
  background-image: none;
  background-repeat: repeat-x;
  border-color: transparent;
  padding: 8px;
  margin-right: 8px;
  border-radius: 4px !important;
}

/* line 762, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-group a.btn:hover {
  background-color: #e0e0e0;
}

/* line 765, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-success, button.pfg-draft-save {
  border-color: #007bc0;
  color: #ffffff;
  border-bottom: #007bc0;
  background-color: #67931a;
  background-image: none;
  border-radius: 4px !important;
  margin: 10px 0;
  text-shadow: none;
  font-weight: 600;
  font-size: 14px;
}

/* line 777, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#viewlet-below-content {
  margin: 20px 0px;
}

/* line 780, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-success:hover {
  border: 0px;
  color: #fff;
  text-shadow: none !important;
  background-color: #67931a;
  background-image: none !important;
  border-radius: 4px !important;
  filter: none !important;
  box-shadow: none !important;
  margin: 10px 0px;
}

/* line 791, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.btn.btn-success {
  color: #ffffff;
  border: 1px solid #007ac0;
  font-weight: 400;
  margin: 0px 10px;
  background-color: #007ac1;
}

/* Tablas */
/* line 800, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-sharing table td {
  padding: 5px !important;
}

/* line 803, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portlet-navigation-tree {
  width: 100%;
  max-width: 235px;
}

/* line 807, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
dl.portalMessage.info a {
  text-decoration: underline;
  color: #004871;
}

/* line 811, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
td.mceToolbar.mceLeft.mceFirst.mceLast {
  padding-left: 0px !important;
}

/* line 814, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.ploneSkin .mceIframeContainer {
  padding-left: 0px !important;
}

/* line 817, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.QueryWidget .previewresults {
  padding: 10px;
}

/* line 820, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
td select.list-field {
  width: 100%;
}

/* line 823, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.alert strong, .alert {
  padding: 20px;
}

/* line 826, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.link-parent {
  margin: 20px 0px 10px;
}

/* line 829, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
dl.querywidget.radioWidget {
  width: 150px !important;
  margin-top: 10px;
}

/* line 833, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
input#form-widgets-IRelatedItems-relatedItems-widgets-query {
  margin-bottom: 0px;
}

/* line 836, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.table-striped tbody tr:nth-child(odd) td,
.listing tbody tr:nth-child(odd) td,
.taulaRegistres tbody tr:nth-child(odd) td,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th,
.listing tbody tr:nth-child(odd) th,
.taulaRegistres tbody tr:nth-child(odd) th,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) th {
  background-color: #ffffff;
}

/* line 846, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
tfoot {
  background-color: #ffffff;
}

/* line 849, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.table-bordered th,
.listing th,
.table-bordered td,
.listing td {
  vertical-align: middle;
  padding: 0px;
}

/* line 856, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
a.btn.btn-danger {
  background-color: #da0000;
}

/* line 859, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn-group button.dropdown-toggle {
  background-color: transparent !important;
  background: 0 0;
  padding: 15px;
  border-radius: 4px !important;
  border: 0px;
}

/* line 866, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
th.nosort {
  padding: 10px 5px 10px 5px;
  border: 0px;
}

/* line 870, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
td.nosort {
  padding: 10px !important;
}

/* line 873, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.table-bordered, .listing {
  border-right: 0px !important;
}

/* line 876, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
table th {
  background-color: #ffffff;
}

/* line 879, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
tr th .btn-group button {
  padding: 0px !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #636363;
}

/* line 885, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
table#listing-table {
  border-top: 0px !important;
}

/* line 888, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
th, td {
  border: 1px solid #ddd !important;
  padding: 0px 0px 0px 15px !important;
}

/* line 892, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.table tr:first-child td {
  border-top: 5px solid gray !important;
}

/* Contacto */
/* line 897, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box {
  padding: 18px;
  background-color: #F2F5F6;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 40px;
  border: 0px;
}
/* line 905, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box label {
  color: #4A4A4A;
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;
  transition: .25s all ease;
}
/* line 912, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box .box-gradient {
  background-image: none;
}
/* line 915, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box .field, .box .box input.textline-field {
  width: 100% !important;
  margin: auto;
  float: left !important;
}
/* line 920, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box .field {
  margin: 0px 5px 15px 0px !important;
  width: 100% !important;
}
/* line 924, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box #form-widgets-from_address,
.box #form-widgets-nombre {
  width: 97% !important;
}
/* line 928, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box input {
  display: block;
  font-size: 16px;
  line-height: 1.25;
  color: #636363;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d1d1d1;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  padding: 10px 10px !important;
}
/* line 941, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box #form-buttons-send {
  width: auto !important;
  min-width: auto !important;
  color: #fff;
  background-color: #7f7f7f;
  border-color: #7f7f7f;
  border-radius: 2px !important;
  float: right;
  padding: 10px 20px !important;
}
/* line 951, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box input, .box textarea {
  border-radius: 4px !important;
}
/* line 954, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box .btn, .box .standalone, .box input[value^="Cancel"], .box [type="submit"], .box .context, .box .searchButton, .box button.pfg-draft-save, .box .link-parent {
  text-shadow: none;
}
/* line 958, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box span.label {
  background-color: transparent;
}
/* line 961, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box .formHelp {
  display: block;
  font-weight: 300;
}
/* line 965, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box input#form-widgets-privacidad-0 {
  float: left;
}

/* line 969, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box-gradient {
  background-image: none !important;
}

/* iframe */
/* line 974, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
iframe {
  border: 0 !important;
  display: block !important;
  width: 100% !important;
}

/* Login */
/* line 983, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content {
  width: 300px;
  border: 0px solid #e5e5e5;
  background: #fcfcfd;
  max-width: 650px;
  margin: 0px auto;
  padding: 0;
  margin-bottom: 40px !important;
}
/* line 992, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin {
  margin: 0 auto !important;
}
/* line 996, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .form-horizontal .controls {
  margin-left: 0px !IMPORTANT;
}
/* line 999, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .form-horizontal .control-label {
  float: left;
  width: 100%;
  text-align: left;
  color: #4A4A4A;
  font-size: .875rem;
  font-weight: 500;
  cursor: pointer;
  transition: .25s all ease;
}
/* line 1011, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .controls input {
  width: 94%;
}
/* line 1015, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin button.btn.btn-primary {
  width: 100%;
}
/* line 1018, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .control-group {
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 6px !important;
}
/* line 1023, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .control-group.margin0 {
  border: 0px;
  padding: 0px;
}
/* line 1027, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .accordion-group {
  margin-bottom: 10px;
  border: 1px solid #b2b2b2;
  background: #fcfcfc;
  margin-top: 20px;
}
/* line 1033, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .accordion-inner {
  padding: 9px 15px;
  border-top: 0px solid;
}
/* line 1037, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-login_form #portal-column-content #content #accordionLogin .accordion-heading .accordion-toggle {
  display: block;
  padding: 15px 15px;
}

/* Buscador */
/* line 1049, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
fieldset#search-field {
  margin: 20px 0px 50px 0px;
  width: 100%;
  max-width: 100%;
}
/* line 1054, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
fieldset#search-field input.searchPage {
  width: calc(100% - 146px);
  border: 2px solid #d9d9d9;
  border-radius: 4px !important;
  padding: 10px 0px;
  transition: .25s all ease;
  font-weight: 300;
  font-size: 16px;
  padding: 10px;
}
/* line 1064, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
fieldset#search-field input.searchPage.searchButton.allowMultiSubmit {
  width: 80px !important;
  background: #007bc0;
  border-radius: 2px !important;
  margin-left: 10px;
  text-shadow: none;
  color: #fff;
  border: 0;
  text-align: center;
  border: 2px solid #007bc0;
}

/* Mapa del sitio */
/* line 1080, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul {
  padding-left: 20px;
  -webkit-column-count: 1;
  -moz-column-count: 1;
  column-count: 1;
}
/* line 1084, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul ul.navTree.navTreeLevel2 ul, #portal-sitemap ul ul.navTree.navTreeLevel2 ol {
  padding-left: 24px;
}
/* line 1092, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul li {
  list-style-type: disc;
}
/* line 1095, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul li li {
  padding: 0px;
}
/* line 1098, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul span {
  width: 100%;
  display: block !important;
  max-width: 100% !important;
  font-size: 14px;
  font-weight: 200;
  list-style-type: disc;
}
/* line 1106, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul .navTreeLevel3 > li {
  list-style-type: circle;
}
/* line 1109, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul a img {
  display: none;
}
/* line 1112, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul #portal-sitemap ul > li {
  font-size: 18px;
  line-height: 18px;
}
/* line 1116, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul ul.navTreeLevel3 li.navTreeItem a span {
  margin-left: 5px !important;
}
/* line 1119, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul a {
  color: #007BC1 !important;
}
/* line 1122, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul ul.navTree.navTreeLevel3 {
  padding-left: 20px;
}
/* line 1125, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portal-sitemap ul ul.navTree.navTreeLevel2 {
  padding-left: 20px;
}

/* manage */
/* line 1134, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-manage-homeportlets .portletHeader strong:hover {
  background-color: transparent !important;
  border: 0px;
}
/* line 1138, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-manage-homeportlets .portletHeader strong:hover strong {
  color: #686563 !important;
  display: block;
}

/* line 1144, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletHeader.clearfix.box.box-gradient.padding0 {
  background-color: transparent !important;
}

/* line 1147, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletAssignments .managedPortlet .box {
  padding: 18px;
  background-color: #f2f5f6;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 10px;
  border: 0;
}

/* alerta */
/* line 1159, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.alert-info, .portalMessage.info {
  border-color: #007bc0;
  color: #007bc0 !important;
  background-color: #ffffff !important;
  border-radius: 4px !important;
  margin: 20px 0px !important;
  padding: 10px 10px !important;
  text-shadow: none;
  font-weight: 600;
  font-size: 14px;
}

/* line 1170, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.alert .close, .portalMessage .close {
  position: relative;
  top: 0;
  right: 5px;
  line-height: 18px;
  text-shadow: none;
  color: #007ac0;
  opacity: 1;
}

/* line 1180, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
h2.portletHeader {
  display: block;
  width: 100%;
  position: relative;
}

/* line 1185, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.span4 .portletWrapper .portlet h2:after {
  display: none;
}

/* line 1188, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.listing tbody tr:nth-child(odd) td,
.listing tbody tr:nth-child(odd) th,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) td,
.portaltype-packet .estudis table.minimal tbody tr:nth-child(odd) th,
.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th,
.taulaRegistres tbody tr:nth-child(odd) td,
.taulaRegistres tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

/* line 1198, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
th.nosort {
  border: 0px !important;
  padding: 10px !important;
}

/* IMG del header, icono */
/* line 1205, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.logoPropi {
  height: 67px;
  display: table-cell;
  vertical-align: middle;
  min-width: 49px;
  padding: 5px 0;
}

/* Listado Eventos */
/* line 1214, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent {
  list-style: none;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  margin-bottom: -1px;
  display: block;
  position: relative;
  transition: all 1s ease;
  padding: 18px 0;
}
/* line 1224, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent .event_listing section {
  float: left;
  width: 100%;
}
/* line 1229, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent p.description,
article.vevent ul.horizontal.metadata {
  font-weight: 300;
  margin: 0 0 10px;
  color: #4A4A4A;
  font-size: 16px;
}
/* line 1236, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent .documentByLine {
  font-weight: bolder;
  color: #636363;
  font-size: 16px;
}
/* line 1241, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent span.summary {
  color: #007BC1;
  margin-top: 12px;
  font-size: 1.125rem;
  font-weight: 500;
  padding-right: 36px;
}
/* line 1248, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent abbr[title] {
  border-bottom: 0px;
}
/* line 1251, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
article.vevent ul.horizontal.metadata {
  padding-left: 20px;
}

/* Eventos */
/* line 1259, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable dl.event.summary.details {
  border: 0px;
  width: 100%;
  max-width: 100%;
  background-color: #F2F5F6;
}
/* line 1265, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable dt, .documentEditable dd {
  padding: 20px !important;
  border-bottom: 2px solid white;
}

/* Listado de Noticias */
/* line 1274, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet img.image-noticies {
  display: none;
}
/* line 1277, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet li {
  width: 100%;
  min-width: 100%;
  margin: 20px;
  border-bottom: 1px solid #D1D1D1;
  border-top: 1px solid #D1D1D1;
}
/* line 1284, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet span.summary {
  color: #007bc1;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: inherit;
}
/* line 1290, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet .content-noticies p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.25;
  color: #636363;
}

/* Noticias */
/* line 1300, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable #content-core {
  border-top: 1px dotted #ccc;
  padding-top: 20px;
  -webkit-columns: 350px 1;
  -moz-columns: 350px 1;
  columns: 350px 1;
  -webkit-column-gap: 2em;
  -moz-column-gap: 2em;
  column-gap: 2em;
  color: #4a4a4a;
  float: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
/* line 1316, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable figure.newsImageContainer {
  float: left;
  width: 33.33% !important;
  margin: 0px 20px 0px 0px !important;
  border: 0px;
}
/* line 1323, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable img.newsImage {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
}
/* line 1329, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable div#content-core {
  float: left;
  padding: 0px;
}
/* line 1333, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable p {
  font-size: 16px;
  font-weight: 300;
}

/* line 1338, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.box,
.box-inverse,
.template-manage-homeportlets .portletHeader:hover,
.portaltype-packet .estudis .caixa3,
#category.documentByLine,
#relatedItemBox {
  padding: 18px !important;
  margin-bottom: 20px;
  background-color: #f6f7f7;
  border: 0px;
}

/* Archivo */
/* line 1351, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
div#plone-document-byline {
  margin: 10px 0px;
}

/* line 1355, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable #content-core {
  margin: 10px 0px;
  padding: 10px 0px !important;
}

/* Collage */
/* line 1362, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portaltype-collage td, .portaltype-collage th {
  border: 0px;
  padding: 0 0 0 15px !important;
}
/* line 1366, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portaltype-collage .documentEditable p.m {
  font-size: 16px !important;
}

/* Ficha de grado */
/* line 1372, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .lead-small {
  border: 0px  !important;
  background-color: #007ac1;
  text-shadow: none;
  color: white;
  font-weight: 500 !important;
  padding: 20px;
}
/* line 1380, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .well,
.section-recerca .well-inverse {
  background-color: #f2f5f6;
  border: 0px;
  padding-bottom: 40px;
}
/* line 1386, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca form#solicita-informacio {
  background-image: none;
}
/* line 1389, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .beautytab li.formTab.active a {
  border-bottom: 2px solid;
  background: none;
}
/* line 1393, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .beautytab li.formTab a {
  border-style: solid none solid solid;
  border-color: #D9D9D9;
  display: -webkit-box;
  padding: 0;
  height: 45px;
  background-color: #f7f7f7;
  border-width: 1px 0 0 0;
  background: none;
  text-decoration: none;
  line-height: 12px;
  border-bottom: 2px solid #d9d9d9;
}
/* line 1406, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .beautytab > ul li:first-child a span {
  border: 1px;
}
/* line 1409, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca #tab-academic-information {
  padding: 0px !important;
}
/* line 1412, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca #contacte_submit {
  background-image: none;
  width: 30% !important;
  float: right !important;
  padding: 4px 6px !important;
  margin-bottom: 4px !important;
  border-radius: 4px !important;
  font-size: 16px;
}
/* line 1421, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .beautytab li.formTab.active a {
  background: 0 0;
  border: 1px solid #cccccc;
  border-bottom: 2px solid;
}
/* line 1426, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .beautytab li.formTab a:hover {
  background: none;
  background-color: #f2f5f6;
}
/* line 1430, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .documentEditable dd, .section-recerca .documentEditable dt {
  padding: 10px !important;
}
/* line 1433, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca dt:first-child {
  margin-top: 40px !important;
}
/* line 1436, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca a#tab-anchor-organization {
  border: 1px solid;
  border-color: #d9d9d9;
}

/* Plan de estudio de grado */
/* line 1444, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
table.table.table-condensed thead.hide_mobile tr,
table.table.table-condensed thead.hide_mobile td,
table.table.table-condensed tbody tr,
table.table.table-condensed tbody td {
  padding: 10px !important;
}

/* line 1450, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.documentEditable p {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 0px !important;
}

/* line 1455, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#div-tabs.div-studies, #div-tabs.studies {
  border-width: 0px !important;
  margin-top: 0px;
}

/* line 1459, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.section-recerca .lead-small {
  border: 0 !important;
  background-color: #007ac1;
  text-shadow: none;
  color: #fff;
  font-weight: 500 !important;
  padding: 20px !important;
}

/* line 1467, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
th.nivell {
  background-color: #666;
  border-right: 0 !important;
  color: #fff;
  padding: 15px !important;
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
}

/* line 1476, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#titols-columnes th {
  padding: 15px !important;
  font-weight: 700;
  font-size: 14px;
  font-family: sans-serif;
}

/* line 1482, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
table.table.table-condensed tr td {
  padding-left: 15px !important;
  padding-right: 15px !important;
}

/* line 1486, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#tab-academic-information {
  margin-top: -20px !important;
  border: 1px solid #cccccc;
}

/* line 1490, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.btn, .standalone, input[value^="Cancel"], [type="submit"], .context, .searchButton, button.pfg-draft-save, .link-parent {
  text-shadow: none;
  background-image: none !important;
  border-radius: 4px !important;
  background-color: #f2f5f6;
}

/* line 1496, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#content-nucli {
  font-size: 14px;
}

/* line 1499, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
td.legendColorBox {
  width: 20px !important;
  min-width: 0px !important;
  max-width: 20px !IMPORTANT;
}

/* Formulari */
/* line 1506, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .header h3 {
  font-size: 17px;
  height: 20px;
  margin: 0px;
  overflow: hidden;
  padding: 8px 0px;
  color: #4a4a4a;
  background-color: white;
}
/* line 1515, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder #pfgWidgetWrapper {
  background: #fff !important;
}
/* line 1518, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder #allWidgets h2.current,
body.template-quickedit.portaltype-formfolder #pfgWidgetWrapper .fields-header,
body.template-quickedit.portaltype-formfolder #pfgWidgetWrapper .fieldset-header,
body.template-quickedit.portaltype-formfolder #pfgWidgetWrapper .actions-header {
  cursor: default;
  font-size: 14px;
  text-align: left;
  color: #4a4a4a;
  font-weight: 400;
  padding-top: 7px;
  padding-bottom: 0px;
}
/* line 1530, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder h4.widget-header,
body.template-quickedit.portaltype-formfolder h4.widget-header-helper,
body.template-quickedit.portaltype-formfolder .draggable .dragginghook {
  background-color: #cccccc;
}
/* line 1535, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder #fieldWidgets, body.template-quickedit.portaltype-formfolder #fieldsetWidgets,
body.template-quickedit.portaltype-formfolder #actionWidgets {
  padding: 5px 0px;
}
/* line 1539, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder div.widget {
  width: 100%;
}
/* line 1542, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .draggable.draggingHook.editHook.qechild {
  padding: 0px !important;
  text-align: center;
}
/* line 1546, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder div.theader div, body.template-quickedit.portaltype-formfolder tr.theader th {
  background-color: #fff;
  width: 90% !important;
}
/* line 1550, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .pfg-form.formid-formulari-autoritzacio-imp .theader div:first-child,
body.template-quickedit.portaltype-formfolder .pfg-form.formid-formulari-autoritzacio-imp .theader div:last-child,
body.template-quickedit.portaltype-formfolder .editHook.qechild:last-child {
  width: 5% !important;
}
/* line 1555, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder #archetypes-fieldname-dades-del-curs {
  width: 80%;
  font-size: 10px;
}
/* line 1559, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder div.theader div, body.template-quickedit.portaltype-formfolder tr.theader th {
  border: 0px;
  color: #666;
  text-align: left;
  line-height: 2em;
  padding: 0px;
  vertical-align: top;
  font-weight: bold;
  background-color: #fff;
  width: 80% !important;
}
/* line 1570, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .pfg-form {
  width: 80%;
  float: left;
}
/* line 1574, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .field.fsbegin,
body.template-quickedit.portaltype-formfolder .field.ArchetypesStringWidget,
body.template-quickedit.portaltype-formfolder .field.ArchetypesSelectionWidget,
body.template-quickedit.portaltype-formfolder .field.ArchetypesBooleanWidget,
body.template-quickedit.portaltype-formfolder .qechild.action,
body.template-quickedit.portaltype-formfolder .field.ArchetypesCalendarWidget,
body.template-quickedit.portaltype-formfolder .field.PFG-RichLabel,
body.template-quickedit.portaltype-formfolder .field.ArchetypesCaptchaWidget {
  width: 80%;
  margin: 0px !important;
}
/* line 1585, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder .draggable.qechild {
  width: 4% !important;
}
/* line 1588, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-quickedit.portaltype-formfolder #pfgThanksEdit th, body.template-quickedit.portaltype-formfolder #pfgThanksEdit td {
  padding: 0.5em 1em !important;
}

/* Vista estándar */
/* line 1602, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-listing_view #content dt {
  font-weight: normal !important;
  margin-top: 0px;
}
/* line 1606, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.template-listing_view .documentEditable dt {
  padding: 10px 0px !important;
}

/* Álbum */
/* line 1614, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-album_view div.photoAlbumEntry {
  text-align: center;
  float: left;
  height: auto !important;
  border: 0px;
  display: block;
  line-height: 18px;
  margin: 5px;
  padding: 0px !important;
}

/* VISTA DE RESUMEN  */
/* line 1630, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-summary_view article.tileItem.visualIEFloatFix h2.tileHeadline a {
  font-weight: 400;
  font-size: 16px;
}

/* VISTA TUBULAR */
/* line 1640, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-tabular_view #content-core {
  width: 100%;
}
/* line 1643, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-tabular_view .listing tbody tr,
body.template-tabular_view .listing tbody td {
  padding: 20px !important;
}

/* VISTA TUBULAR */
/* line 1652, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-view .nav-tabs,
body.template-view .contentViews, body.template-view .configlets {
  border-bottom: 0px;
}

/* VISTA TUBULAR */
/* line 1661, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
body.template-edit #content-core {
  width: 100%;
}

/* Categorías noticias */
/* line 1668, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
#portlet-navigation-tree {
  border-width: 0px 0 1px 0;
}

/* line 1672, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul#portlet-navigation-tree li {
  width: 100%;
}

/* NOTÍCIAS */
/* line 1680, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies .noticia-full-2cols .content-noticies {
  padding-bottom: 10px !important;
}
/* line 1683, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies .noticia-full-2cols h3, .portlet-noticies .noticia-full-2cols p {
  margin: 10px !important;
}
/* line 1687, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies .row-fluid {
  margin-top: 10px;
}
/* line 1690, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies .portlet-footer {
  background: #f2f2f200;
  display: block;
  padding: 5px 10px 7px;
  border-top: 1px solid #fff;
  position: initial;
  font-size: 92.3076923%;
}
/* line 1699, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies ul.list-portlet li {
  margin-bottom: 5px !important;
  border-top: 0px !important;
  margin-top: -5px !important;
  margin-left: 0px !important;
}
/* line 1705, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-noticies ul.list-portlet li .smaller {
  color: #666;
  white-space: nowrap;
  width: 100% !important;
  display: inherit;
}

/* Noticias ampliado, imagenes, etc*/
/* line 1719, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-ampliat li.clearfix h3:first-child {
  margin-top: 20px;
}
/* line 1723, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-ampliat li.clearfix h3 a {
  font-size: 16px;
}
/* line 1728, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-ampliat .smaller {
  font-size: 85%;
  margin: 10px;
}
/* line 1732, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-ampliat .content-noticies p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.25;
  color: #636363;
  padding: 0px !important;
}
/* line 1739, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet-ampliat .noticies-full + h3 {
  margin-top: 0px;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/* line 1747, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet img.image-noticies {
  display: block;
  max-width: 50% !important;
}
/* line 1751, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
ul.list-portlet .content-noticies p {
  font-size: 14px;
}

/* line 1757, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet.portletRecent .portlet-footer {
  display: unset !important;
}
/* line 1760, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet.portletRecent time.smaller {
  display: block;
}
/* line 1763, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet.portletRecent li.portletItem.odd,
.portlet.portletRecent li.portletItem.even {
  margin-left: 0px !important;
}

/* Calendario */
/* line 1772, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar .ploneCalendar td,
.portletCalendar .ploneCalendar tr,
.portletCalendar .ploneCalendar th {
  background: #ffffff;
  border: 0px !important;
}
/* line 1778, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar h2 {
  border-bottom: 0px;
  color: #023470;
}
/* line 1782, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar table th {
  font-weight: 300;
  font-size: 16px;
}
/* line 1786, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar td.event {
  color: #007BC1 !important;
  font-weight: bold;
  font-size: 14px;
}
/* line 1791, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar th {
  text-transform: uppercase;
}
/* line 1794, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar td.event.cal_prev_month,
.portletCalendar td.event.cal_next_month {
  font-size: 0px !important;
}
/* line 1798, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portletCalendar .ploneCalendar td.today {
  font-weight: bold;
  color: white !important;
  background-color: #007BC1 !important;
  text-shadow: none;
  width: 28px;
  height: 21px;
  position: relative;
  display: inline-block;
  border-radius: 50% !important;
  margin-left: 0px;
  padding-left: 0px !important;
  padding-top: 6px !important;
  padding-bottom: 0px !important;
}

/* Encuesta */
/* line 1818, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.votePortlet.vote-container .documentEditable dd, .votePortlet.vote-container .documentEditable dt {
  border-bottom: 2px solid #fff;
  width: 100%;
  padding: 20px !important;
  min-width: 300px !important;
}

/* Encuesta */
/* line 1830, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.legend table td.legendColorBox {
  border: 0px;
}
/* line 1833, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.legend table td.legendLabel {
  border: 0px;
}

/* Porlet general */
/* line 1843, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet a.portlet-footer {
  display: table;
  position: inherit;
}
/* line 1847, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet ul.list-portlet li {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

/* line 1855, ../scss/Dropbox/sharedRobtheme/_compartido.scss */
.portlet.portletStaticText.portlet-static-portlet-estatico-con-contorno .documentEditable p {
  font-size: 14px;
  font-weight: 300;
}
